[2022-09-26 07:05] openshwprojects commented on #208
No reply after 4 days, but I will assume that's solved. Please message me and remind me if anything else is wrong.

[2022-09-26 07:05] #208 closed

[2022-09-26 07:13] openshwprojects commented on #205
Added fix:
https://github.com/openshwprojects/OpenBK7231T_App/commit/3fde340c44c6f10e1644072837fb5a7887e22326
if you need anything else, just tell me. I decided to use the flag for fix, but one also just could check if SM/DP driver is running.

Thanks!

[2022-09-26 07:13] #205 closed

[2022-09-26 07:21] openshwprojects commented on #210
What are the channel numbers of PWM pins?

[2022-09-26 08:00] C0br4 commented on #210
Sorry I'm not sure what the terminology is and channel means but pin 24 is the PWM for cold white (4), pin 26 is PWM for warm white (5) if that helps

[2022-09-26 13:11] Gamerayers commented on #211
Second this.  I have the same issue with my light and it doesn't know how to handle it.

[2022-09-26 18:37] deepcoder commented on #208
Apologies for my lack of reply. Thank you for working on this. I have not been able to carve out the time to set up a image build environment for the BL602, in order to compile and OTA your proposed change.

[2022-09-26 18:49] sstudent opened #215 "suport for"
Very good job! Could I please you to add support for Tuya Curtain Smart Switch with
WB3S chip. Below I put pictures of the device.
![20220926_202556](https://user-images.githubusercontent.com/12023090/192356193-de30d8c8-3350-4e22-999e-204d575ad6bd.jpg)
![20220926_202655](https://user-images.githubusercontent.com/12023090/192356195-4785b0ac-3459-4013-969e-c4579e65d06f.jpg)
![20220926_202728](https:

[2022-09-26 20:59] oxodao opened #218 "LSC Smart Dimmer - Going into sleep?"
Hi,
I'm trying to flash this firmware on a [LSC Smart Dimmer switch](https://www.action.com/fr-fr/p/telecommande-lsc-smart-connect2/).
I've soldered GND + TX1 + RX1 and using the software to flash via UART as told by the readme.

Unfortunately, it fails a lot in the process, the best way to keep it running is to press every 2s on the button, so I'm guessing that the chip wants to go to sleep quite

[2022-09-27 03:42] bugalaws commented on #204
I have the same problem but without answer i don’t know how to help the autor to fix it

[2022-09-27 09:26] valeklubomir commented on #203
Hello. I am new to this project. Found Smart Plug with BL0937 and observed same behaviour with connected wires and independent power supply. Log shoved following:

And device was frozen. Looking for this handler.

Lubomit

[2022-09-27 10:12] valeklubomir commented on #212
Creating moving window would require too much RAM for storing samples.
I would use it with real system time received either from MQTT or SNTP.
Samples ordered by hour of day with some history.

Currently working accumulating energy at present sample rate, with posting to MQTT topic.
Unfortunately device is freezing occasionally, seeking forum possible solutions
Model: CB2S, BL0937, 1 Relay, 1 Butt

[2022-09-28 06:23] szokeptr commented on #152
I am also interested. Just flashed an RGB only LED strip but all color changes are simply a jump between the color values. Is there a way to implement smooth fading?
I am happy to submit a PR if pointed in the right direction.

[2022-09-28 08:01] openshwprojects opened #219 ""HomeAssistant MQTT Discovery" feature by iprak - testing and discussion thread"
I have decided to merge this great but kinda risky feature made by @iprak
https://github.com/openshwprojects/OpenBK7231T_App/pull/183

I would like everyone to provide here feedback on this, is it working, did it change the stability issue of MQTT on N devices, etc?

Also, @iprak , what kind of discoveries are right now supported? What about, for example, 4 relay devices, or RGBCW light bulbs, or

[2022-09-28 10:31] iprak commented on #219
Right now the support is only for switch and pwm devices which matches the existing implementation for generating hass configuration.  I am planning to add discovery for power metering separately.

The discovery messages are only sent out when manually invoked.

I submitted a PR ( https://github.com/openshwprojects/OpenBK7231T_App/pull/220 ) for readme.

[2022-09-28 11:00] bugalaws commented on #219
I have a aubess 1 gang  and bk7231n, the discovery works great, my mqtt continues reconnecting every minute, but the discovery works well

[2022-09-28 12:18] #145 closed

[2022-09-28 12:20] iprak commented on #187
The new `MQTT_Publish` API merged in #183 is available now.

[2022-09-28 12:45] valeklubomir commented on #204
Means closed from server side.
I have connected to mosquitto server and logs shows following reasons:

[2022-09-28 12:50] dwildstr opened #221 "Some Daybetter 800lm 9W RGB+2700-6500K bulbs don't turn off fully"
I have OpenBeken flashed onto Daybetter RGBCT lights; these have a BK7231N chipset and use a BP5758D decoder on the light PCB, and a module setup with BP5758D_CLK on pin 7 and BP5758D_DAT on pin 8 works mostly well. It also needed the RGB channels remapped, thought --- blue is channel 0 and red channel 2. Sometimes, however, the lights exhibit a "leaky" behavior when turned off, and slowly brighte

[2022-09-28 13:21] iprak opened #222 "Enhancement: add support for W600"
[W600 ](https://www.winnermicro.com/en/html/1/156/158/497.html)is the older and slower brother of W800 from the same company Winner Micro. It bears resemblance to W800 but has its own SDK. I have got it somewhat working but have to resolve some crashes probably related to older SDK.

@openshwprojects would this be something which could be merged into this repo ? Have you received any request for W

[2022-09-28 13:42] openshwprojects commented on #222
I have W600 board, can you share your progress so I can look into it?

[2022-09-28 13:43] openshwprojects commented on #219
@bugalaws can you tell more about that MQTT?
Do you have this issue:
https://www.elektroda.com/rtvforum/topic3920846.html
?
@iprak it seems we need to look into this.

[2022-09-28 13:51] iprak commented on #222
Well since now we have 2 potential users so my effort might be of use. :-)

I dismantled a switch hoping to find BK but found W600. There is a separate older toolchain which I have been using primarily from cygwin.

I based my effort on the W800 repo. I am not certain but I think that the heapsize increase and configUSE_HEAP2 usage are not playing well, this is a much older sdk.

I can submit a PR

[2022-09-28 14:54] valeklubomir commented on #219
@openshwprojects

Disconnected from server side. May be configuration on server closes connection when
no message is sent for some time. On the other-side keep-alive is enabled. And without
any message connection should hold indefinitely.
I am testing it against **mosquitto** MQTT server(Raspberry). And log on server side shows:

Which may point to some protocol generation issues or data loss.

Al

[2022-09-28 15:05] openshwprojects commented on #222
Your efforts are of course not in vain, you already contributed a lot of to OpenBeken, you're one of our best contributors.

First of all, what do you mean by "older SDK", do you mean that there is a newer version for W600 or are you calling W600 "older" and W800 "newer"?

What is exactly crashing? I had some crash issues on BL602 platform and I suspect that all those chip toolchains might have LW

[2022-09-28 16:03] valeklubomir commented on #222
Frequent use of malloc/free operations are pretty safe, unless bugs in code write data outside of allocated space and overwrite control data area of allocated memory blocks. Which is in 99% of cases the cause of crash, when system is using malloc/free.

Especially example of HTTP server, when constructing response, which is text string, where reserve must be considered.
printing number may differ

[2022-09-28 17:09] valeklubomir commented on #222
@openshwprojects
I apologize, I may overstepped little. Sorry for that, I am really not familiar W600, W800. And I am not aware of this limitation.

My concerns were about my current work with device with BK7231N and how these changes would impact it. Because I am trying to resolve issues with freezing on my device.  But your idea with buffers for HTTP brought me on some track, I experienced simil

[2022-09-28 17:48] openshwprojects commented on #222
_Because I am trying to resolve issues with freezing on my device._

does it happen with MQTT disabled?

I have a slight suspicion that it may related to multithreading, but not sure, because it happens on N SDK for people and not on T.
Anyway, here are my two ideas what can be done to fix N platform stability:
1. compare BK7231N SDK step by step to BK7231T SDK (#define etc etc). I tried to do tha

[2022-09-28 17:52] openshwprojects opened #224 "Enhancement: our devices.json database should be also accessible without having a OBK device"
I am referring to this file:
https://github.com/OpenBekenIOT/webapp/blob/gh-pages/devices.json
@iprak  , or any web-able coders here, what do you think? How hard would it be to add a GH page script that will allow us to view our devices database without having OBK device?
Maybe something with a search function, so one can search by keywords like BL0937, etc.

[2022-09-28 18:24] valeklubomir commented on #222
@openshwprojects
I did not try with MQTT disabled. Will let it run overnight to check.
I am working on it since 5 days, private project.
At beginning I experienced freezing directly after reboot, due to wrong configuration setup.
And since only safe mode did not freeze, deleted configuration and restarted the process without any more issues.

I know C and I am trying to fix it.

I can try to compa

[2022-09-28 22:30] bugalaws commented on #219
My problem is like it, but my log is a bit diferent:

Info:MQTT:mqtt_userName marcelo
mqtt_pass user1pas
mqtt_clientID AbajurQuartoOracao
mqtt_host 192.168.0.20:1883

Info:MAIN:Time 44391, free 89040, MQTT 0, bWifi 1, secondsWithNoPing -1, socks 2/38

Info:MQTT:mqtt_connection_cb: Disconnected, reason: 256

Info:MAIN:Time 44392, free 89040, MQTT 0, bWifi 1, secondsWithNoPing -1, socks 2/38

Info:M

[2022-09-29 07:54] euro2 opened #225 "CB2S flaky wifi/webgui?"
Flashed a fresh firmware on a LSC/Kruidvat(opened both, only plastic quality differs) smartsocket CB2S. Its working so far but the wifi or webgui is not reacting smoothly.

When i insert it in the wallsocket, its super fast to react and can browse the webgui with ease. Then after a while its slow to react. Im using Firefox and see its connecting and waiting for a response.... That takes some time.

[2022-09-29 07:57] euro2 opened #226 "Wifi channel lock?"
i have multiple accesspoints around the house. All are the same SSID name but different channels. Si I can hop between them with mobile phone etc.

I think when entering the name and password, the firmware locks to the name **and channel**? When i move the smart socket around the house it doesnt work anymore because of a different channel?

[2022-09-29 09:50] openshwprojects commented on #225
What is the number of free memory shown in console log? Is it the same as in the first minutes of device run, or is the free memory decreasing?

[2022-09-29 09:51] openshwprojects commented on #226
I'm not sure. We're using BK7231 SDKs to connect WiFi and the channel selection behaviour is done by Beken Corp code.

[2022-09-29 10:10] openshwprojects commented on #222
@valeklubomir  I remember that doing a MQTT publish every second or several publishes of MQTT every second tends to trigger the issue more often.
I've tried to debug it, but no luck. I also tried increasing the size of buffers in LWIP for TCP sockets, the PBuf size, etc, but the issue still persists.
I don't think it is related to the actual size of LWIP buffers, I'd rather say it's related to thr

[2022-09-29 10:14] openshwprojects commented on #219
@valeklubomir  feel free to increase the size of the buffers, I will just say that I tried it and seemingly the issue looked like it still persists.
https://github.com/openshwprojects/OpenBK7231N/commit/bacdb9ce6c70dc180ddc736ef38a7fa18a4895ca
https://github.com/openshwprojects/OpenBK7231N/commit/295af010d8a882c90af2db7843f3dd2acee45030
How big buffers do you need?

I remember that I also saw the

[2022-09-29 10:54] iprak commented on #222
I think the discussion about MQTT and buffer might belong to a different thread. :-)

Any way here is my status update on W600 -> I am currently preparing a PR.

At one point I was getting errors like this on startup but not any more.. I did a full erase of the device using a tool which came with SDK and maybe that cleared up some setting from older firmware. I unable to read back the stock firmwa

[2022-09-29 10:56] valeklubomir commented on #222
I will post my finding here.
[https://github.com/openshwprojects/OpenBK7231T_App/issues/204](url)

[2022-09-29 11:25] euro2 commented on #225
oh boy... i cannot find the log! LMAO. Its not in the main menu?

[2022-09-29 11:29] euro2 commented on #226
Ah. So there is a shielded piece of code? Home Assistant autodetected the Tuya integration which got me scared. I dont want any external parties contacting the switch...

Anyway, ill toy around some more. Just got it going actually.

[2022-09-29 11:34] euro2 commented on #225
`Info:CFG:####### Set Boot Complete #######

Debug:CFG:new offset 1316, boot_count 21, success count 21

Debug:CFG:new offset after read 1316, boot_count 21, success count 21

Debug:CFG:re-read - offset 1316, boot count 21, boot success 21, bootfailures 0
Info:MAIN:Time 32, free 89064, MQTT 1, bWifi 1, secondsWithNoPing 0, socks 2/38

Info:MAIN:Time 33, free 89064, MQTT 1, bWifi 1, secondsWithNoPi

[2022-09-29 11:37] euro2 commented on #225
do have this in the webapp config page:

Error: SyntaxError: JSON.parse: expected ',' or '}' after property value in object at line 650 column 7 of the JSON data

[2022-09-29 11:39] euro2 commented on #225
maybe its just the webgui and is MQTT superfast. Im hooking it up to Home assistant today.

[2022-09-29 11:54] valeklubomir commented on #204
@openshwprojects
My finding so far:  MQTT server was often closing connection with following reports:

Protocol error and Malformed packets were issue with MQTT Ringbuffer and fact that there is no MUTEX preventing collisions during writing into buffer. Messages are added to buffer within the 1 second timer operated main but callbacks are executed from LWIP "thread" (if it can be called thread) an

[2022-09-29 13:17] beaune33 opened #227 "Device bricked - no WIFI communication"
I had a LSC Smart Mood Light (3004154) working with firmware 1.12.61, which I flashed with hid_download.py successfully. Afterwards I tried an OTA update to 1.12.62, and probably I did something wrong. The device did not appear with an Openbeken AP, even after several tries to activate safe mode. To fix it I tried again to flash diferent firmware versions by wire with hid_download.py. Flashing wor

[2022-09-29 13:38] iprak opened #228 "Bug: webApp has invalid json"
The merge 0c615b59ccc47115db73ff022791d2ce62e42c81 had some incorrectly positioned commas making JSON invalid.

@openshwprojects I submitted a fix PR https://github.com/OpenBekenIOT/webapp/pull/13

I will also separately look into precommit json linter check.

[2022-09-29 14:53] openshwprojects commented on #228
Thanks, fixed

[2022-09-29 15:01] openshwprojects commented on #204
@valeklubomir

_Protocol error and Malformed packets were issue with MQTT Ringbuffer and fact that there is no MUTEX preventing collisions during writing into buffer._

I assumed that my mutex in new_mqtt.c is enough but I might have been wrong:
![image](https://user-images.githubusercontent.com/85486843/193066980-b4f1dbd1-d264-4bba-a8c8-3648bfafb027.png)

**The question now is why it crashes on B

[2022-09-29 15:04] openshwprojects commented on #227
Are you able to provide the log from TX2 so we know what happens?

[2022-09-29 15:09] openshwprojects commented on #222
@iprak  great progress, I will try to find where I have put my W600 dev board in a meantime, I will help with testing when your port is released
Can you also do a detailed write up how to compile, and also, is there also an IDE for W600? Or just a Cygwin prompt

[2022-09-29 16:27] valeklubomir commented on #204
@openshwprojects
Without knowing differences between N and T version, any guess "WHY?" is good.

Now when I do not receive any protocol errors and malformed packets messages, and only TCP socket communication
got sometimes stuck, upgrading LWIP will be the solution.

I have downloaded lwip-2.1.3 version and after quick comparison MQTT RingBuffer macros are replaced with functions.
So someone else

[2022-09-29 17:06] openshwprojects commented on #204
@valeklubomir
_"I have downloaded lwip-2.1.3 version and after quick comparison MQTT RingBuffer macros are replaced with functions."_
I saw that as well, as at one point of time I tried to update the MQTT part of LWIP but leave rest of LWIP intact. Still, I didn't finalize it.

I'd say that updating whole LWIP is the way to go. Lwip 2.1.0 or newer versions are supposed to be thread-safe.

If you'r

[2022-09-29 17:13] valeklubomir commented on #204
@openshwprojects
I have only BK7231N devices available. More devices which should be tuya compatible are on the way.
I hope next week I have some news.

[2022-09-29 17:45] iprak commented on #224
I will look into it. I was thinking that we could have a page hosted at https://openbekeniot.github.io/webapp/ which just displays the devices data.

[2022-09-30 01:12] iprak commented on #222
That is a nice dongle and it has a reset button.

I pushed my changes in https://github.com/openshwprojects/OpenBK7231T_App/pull/229

I was unable to get it compiling all the way in linux. The very last step of generating fls file is done through `wm_tool` and the sdk only contains `wm-tool.exe`.

I did find another sdk at https://docs.wiznet.io/Product/Wi-Fi-Module/WizFi360/Other-Resource/w600_sd

[2022-09-30 06:00] beaune33 commented on #227
I could try...could you explain how to do that?

[2022-09-30 06:27] euro2 commented on #227
Excuse me for highjacking the thread. But is there a safe mode? For example when WiFi credentials all wrong and it won't go back to AP mode?

How? (Without opening the device....)

[2022-09-30 07:08] manivalaguru commented on #204
@valeklubomir @openshwprojects
i can also help you with testing...

[2022-09-30 08:05] openshwprojects commented on #227
@euro2 five times power on and off will return to AP mode
@beaune33 UART RX in 3.3V mode to TX2 pin from the board. Of course do not power device from mains at that time.

There is also a certain stability improvement for N platform in work, stay tuned.

[2022-09-30 08:06] openshwprojects commented on #226
@euro2  no, not "shielded", it's all open source in SDK:
https://github.com/openshwprojects/OpenBK7231T
it's just it was written by Beken Corp and not by us.

The Tuya integration was discovered by MAC address, so nothing to worry about. There is no "Tuya running in background" in our firmware.

[2022-09-30 10:41] euro2 commented on #227
@openshwprojects any interval in seconds? Or does that not matter? i flashed one succesfully now(had AP while hooked up to rasp pi4, but once inserted back in socket case no go Ill try resetting that way.

[2022-09-30 11:11] beaune33 commented on #227
This is what I was able to catch. Flashed is version 1.12.64. Does it help?

V:BK7231N_1.0.1<\r><\r><\n>REG:cpsr     spsr     r13      r14<\r><\r><\n>SVC:000000D3          00401C1C 000033AC<\r><\r><\n>IRQ:000000d2 00000010 00401e0c fff9c9de <\r><\r><\n>FIR:000000d1 00000010 00401ffc cf45f7ed <\r><\r><\n>SYS:000000df          0040192c 00000158 <\r><\r><\n>ST:00000000<\r><\r><\n>J 0x10000<\r><\r><\n

[2022-09-30 16:34] valeklubomir commented on #227
@beaune33
After reformating the rubish:

MCU detected undefine instruction. Which caused critical crash.
Here helps only new flashing, OTA process caused somehow write error into flash.
May be using BK_Writer and do complete flash erase in case written configuration is causing it.

[2022-10-01 06:22] openshwprojects commented on #204
@valeklubomir  have you implemented correctly the LWIP mutex? The core locked one? Is now the whole LWIP thread-safe?

May I see your updated LWIP 2.1.3 SDK and do some testing?

[2022-10-01 09:36] valeklubomir commented on #204
@openshwprojects
Now it is just case of adjusting settings of LWIP.
I switched from dynamic allocation to static mem pool and LWIP is holding for 10 hours. MQTT holds connection, HTTP still active. Device not yet frozen.
But I see still "out of memory" messages when posting MQTT packet to TCP socket. Application need to do some retries to complete action.
I have set up mosquitto MQTT server and NO

[2022-10-01 09:42] valeklubomir commented on #204
@openshwprojects
I am working with LWIP setting present in downloaded version. I think mutli-threading should be active.
But did not yet checked all the configuration/options files.

[2022-10-01 12:32] openshwprojects commented on #204
@valeklubomir Those 1 2 3 4 points are correct. You can use a GUI client like a sourcetree to make git operations easier.

"out of memory packets" - maybe increase buffers?
https://github.com/openshwprojects/OpenBK7231N/commit/bacdb9ce6c70dc180ddc736ef38a7fa18a4895ca

"I am working with LWIP setting present in downloaded version. I think mutli-threading should be active."
as far as I understand ne

[2022-10-01 15:37] valeklubomir commented on #204
@openshwprojects
"out of memory" result from LWIP not in MQTT. Seems like some buffer are being filled ro max. But I think not data buffers or ring buffer, more like control buffers. I will increase them.

LWIP_ASSERT_CORE_LOCKED is at moment it is dummy macro. no action i taken.
Examples show using LWIP_ASSERT which would result showing error message and continue or freeze. That I am not sure, ye

[2022-10-01 17:53] openshwprojects commented on #204
@valeklubomir how is your fix supposed to work if you did not implement the LWIP_ASSERT_CORE_LOCKED macro?

I may be wrong, but my current assumption still is that you have to place a mutex check in place of LWIP_ASSERT_CORE_LOCKED . This is the only way to protect the critical piece of code from being accessed by two threads at the same time.

https://community.nxp.com/t5/MCUXpresso-SDK/MCUX-SDK-

[2022-10-01 18:13] openshwprojects commented on #206
Fix part 1 (default value):
https://github.com/openshwprojects/OpenBK7231T_App/commit/e7f04c6bf5f6b609a9f6c75d68122d926eaf7c24
Part 2 is on the way.

[2022-10-01 18:17] openshwprojects commented on #212
How many samples would we need per hour? Sample every second? 60*60=3600 samples, each one sample is 4 bytes.... it doesn't seem so bad. The option would need to be enabled by user, only then it would malloc a ring buffer.

[2022-10-01 19:00] openshwprojects commented on #222
@iprak regarding the USER_SW_VER. The default value of USER_SW_VER is set in code, right, but the correct value for online builds should be set in build scripts. Refer to already supported platforms like BK7231 to see how it's set. It also seems that the setting of USER_SW_VER is missing for BL602 as well.
I will try to build for W600 tomorrow.

[2022-10-01 19:38] valeklubomir commented on #204
@openshwprojects
If you examine LWIP_ASSERT macro you see that it is debug error message and when you set flag HALT in debug macro flags device will freeze. Otherwise error is shown and program continues. This is usefull just to detect collision, because if collision occurs and device freezes log will show where and why.

More important is that macros LOCK_TCPIP_CORE/UNLOCK_TCPIP_CORE are defined

[2022-10-01 20:32] iprak commented on #222
You are absolutely right. I adjusted the [W600 sdk](https://github.com/iprak/OpenW600) to accept version as something like this
`make -C OpenBK7231T_App/sdk/OpenW600 TOOL_CHAIN_PATH=/workspaces/OpenBK7231T_Dev/w600-gcc-arm/bin/ APP_VERSION=1.2.3`.

I poked at W800 SDK and could not figure out if/how it passed down the version. I saw this in the action log but that's how far I got. I don't have a W

[2022-10-01 20:58] openshwprojects commented on #204
@valeklubomir  from a quick glance at the code, the LOCK_TCPIP_CORE was already here:
https://github.com/openshwprojects/OpenBK7231T/search?q=LOCK_TCPIP_CORE
https://github.com/openshwprojects/OpenBK7231T/search?p=2&q=LWIP_TCPIP_CORE_LOCKING
So I am not sure what exactly has changed now in your SDK.

By the way, I just compared the LWIP files between N and T SDK and it seems that T has an extra de

[2022-10-01 21:04] openshwprojects commented on #225
@euro2 do you have UART hooked up to this device? I would like to try something but I am not sure if OTA will work

[2022-10-01 21:06] openshwprojects commented on #204
Also what has happened here, why is there a pointer reference difference between N SDK and T SDK?
![image](https://user-images.githubusercontent.com/85486843/193428351-58ea08fa-1c72-4d5b-9f7b-2f94038c2ff7.png)

[2022-10-01 21:33] openshwprojects commented on #94
@JanKiel2000 @l3ztum
can you check this build? I ported threading fix from T SDK to N SDK

[OpenBK7231N_App_1.0.0.zip](https://github.com/openshwprojects/OpenBK7231T_App/files/9691243/OpenBK7231N_App_1.0.0.zip)

[2022-10-01 23:03] valeklubomir commented on #204
![image](https://user-images.githubusercontent.com/71550793/193431297-ef611844-b5dd-4bd1-b964-fdd3a056b998.png)
0 = wait without timeout.
This is in N version.

[2022-10-02 06:34] openshwprojects commented on #222
W800 is just 4$, I can buy you one from eBay if you want, you'd just need to message me on Elektroda, of course eBay would need to ship to your country
![image](https://user-images.githubusercontent.com/85486843/193441293-0785b16d-ab93-4fb1-a7fb-1e55f576fe7f.png)

I will look into W600 today, remind me if I forget, right now I am adding an option to cancel repeating events, I will add this to main

[2022-10-02 07:40] openshwprojects commented on #204
@valeklubomir  I am trying to compile with your SDK, have you seen that error?
![image](https://user-images.githubusercontent.com/85486843/193443472-479d7b9f-b94a-4c3d-b1a9-85e7154c5476.png)
I know how to fix it, just curious...

[2022-10-02 08:17] openshwprojects commented on #204
@valeklubomir I got a N device. Porting the T LWIP to N didn't help, but your changes seems to helped so far.
I am testing with MQTT on and with this script (needs latest update): addRepeatingEvent 5 -1 Power0 Toggle

[2022-10-02 08:39] valeklubomir commented on #204
@openshwprojects
I am noticing differences of behavior between threads. Like when MQTT message is received from server and response send back there is no message about "out of memory" from mqtt_output_send function, but when device sends update values for BL0937, I see a lot of "out of memory".  I am sure that these work on different threads. Trying to implement the LWIP_ASSERT_CORE_LOCKED macros

[2022-10-02 08:54] openshwprojects commented on #204
@valeklubomir I will try to find an N platform BL0937, I think I have one somewhere here.

The BL0937 read handler is called from "on every second" tick, which is defined here:
https://github.com/openshwprojects/OpenBK7231T_App/blob/main/src/user_main.c Main_OnEverySecond
Main_OnEverySecond is called from https://github.com/openshwprojects/OpenBK7231T_App/blob/main/src/hal/bk7231/hal_main_bk7231.c

[2022-10-02 09:33] #185 closed

[2022-10-02 09:34] openshwprojects commented on #208
OTA is not implemented for BL602 yet.

[2022-10-02 10:58] openshwprojects commented on #204
@valeklubomir can you post your changes to _App repository as a pull request?

[2022-10-02 11:09] iprak commented on #222
Thank :-) I got one.

[2022-10-02 11:18] alfondric commented on #176
I've picked up an Aldi branded floor lamp fitted with what appears be a BK7231N based module. Tracing the pins it looks like it directly drives a set of SM16703P (similar to WS2812) chips for the RGB strip, the white LEDs I think are controlled by PWM on another pin? I'd love to see WS2812B support so that I don't have to use the built-in Tuya firmware, happy to help out in any way.

[2022-10-02 11:29] openshwprojects opened #234 "OpenBeken YouTube Videos - we need a native English speaker for our tutorial videos"
With a little help of my assistant, I have prepared so far two (third is WIP) OpenBeken Youtube videos.
1. Desoldering WiFi module from RGBCW bulb:
https://www.youtube.com/watch?v=7MyfSgxLAOo&t=409s&ab_channel=elektroda.pl
2. Tricky flashing relay module which has extra stuff (capacitor etc) on UART lines:
https://www.youtube.com/watch?v=0V0kaRVnk18

The thing is, those versions so far have only E

[2022-10-02 14:56] openshwprojects commented on #195
Thanks, this should add it:
https://github.com/openshwprojects/OpenBK7231T_App/commit/2284d0ec97c428eb5422b627211c680f81ff8392
at least for RGB and RGBCW.... more to come

[2022-10-02 14:56] #195 closed

[2022-10-02 14:57] #173 closed

[2022-10-02 14:57] #112 closed

[2022-10-02 14:59] openshwprojects commented on #79
@iprak basically nailed it, good job, discovery seems to be working.

https://github.com/openshwprojects/OpenBK7231T_App/pull/183

More to come soon.

[2022-10-02 14:59] #79 closed

[2022-10-02 15:01] valeklubomir commented on #204
@openshwprojects Testing some new features now. I will create request for both repos when tests are complete.

[2022-10-02 15:04] openshwprojects commented on #222
@iprak  can you temporarily look into HA discovery for RGBCW lights? I have added a valid config generation:
https://github.com/openshwprojects/OpenBK7231T_App/commit/2284d0ec97c428eb5422b627211c680f81ff8392
but discovery still discovers my RGBCW bulb as 5 PWMs

[2022-10-02 15:49] openshwprojects commented on #204
@valeklubomir  I am testing your changes since 6 hours ago, but I ported only changes to N SDK, no changes to App, and it seems to work better, no issues so far on N device.

[2022-10-02 16:05] DSchndr commented on #221
Same issue as #175
Bug is probably related to the code only enabling sleep mode but not setting outputs to off, it makes sense when one refers to the datasheet
![image](https://user-images.githubusercontent.com/19175445/193464004-d5e8072b-d7a8-4950-8f06-118c01796616.png)

@dwildstr Would you mind flashing a test firmware over ota?

[2022-10-02 18:01] dwildstr commented on #221
Oof, misclick. Sorry about that. I would be happy to flash a test firmware!

[2022-10-02 18:17] GravitySandwichh opened #236 "SM2135 Module will not give HomeAssistant Config"
Lights that use the SM2135 Module will not show a home assistant configuration example on the "Generate Home Assistant cfg" page.
The discovery feature also does not seem to work for this. The device is connected via MQTT and does show up as a seperate entity. It however does not get added to the homeassistant discovery topic.

Also, Option 4 in general "[LED] Force show RGBCW controller (for exam

[2022-10-02 19:13] iprak commented on #222
That would be expected, there is currently no support for color lights. I was working on adding support for voltage and can look into that next.

[2022-10-02 19:21] valeklubomir commented on #204
@openshwprojects Created pull requests. All changes commited to repositioies. I keep testing.
Ordered various new devices. Smart plug, touch buttons, smart switches.

[2022-10-02 19:56] valeklubomir commented on #204
@openshwprojects Have to fix some issues.

[2022-10-02 20:38] Minims opened #238 "BL602 Start Home Assistant Discovery crash"
Hello,

I have installed the 1.12.72 version on a BL602 chip.
When I press on button `Start Home Assistant Discovery` the chip crash and does not ping anymore.

Serial output

[code]

[2022-10-02 21:24] Refuhr commented on #236
I think generateting HA config for I2C bulbs isn't yet implemented, but openshwprojects  is [working on it](https://github.com/openshwprojects/OpenBK7231T_App/commit/2284d0ec97c428eb5422b627211c680f81ff8392).

In the meantime, this is the config that worked for me:
[code]
Flag 4 is needed, because the software checks for connected PWM pins to determine the light controls (single dimmer, rgb dimmer

[2022-10-02 22:14] DSchndr commented on #221
[BP5758D_Fix.zip](https://github.com/openshwprojects/OpenBK7231T_App/files/9693684/BP5758D_Fix.zip)

Go into webapp, then ota, upload the rbl and test; report on how it behaves :)

[2022-10-02 22:30] DSchndr commented on #218
Do you have images of the pcb? Dunno if my action has them in stock

[2022-10-02 22:37] DSchndr commented on #215
Do you have a logic analyzer / serial adapter?
Hook up rx from dongle to rx and later tx pad (gnd and vcc too) and monitor what ofw sends and receives
(DO NOT CONNECT THE MAINS PART)

Product link would be nice :)

[2022-10-03 02:24] dwildstr commented on #221
Looks like lights running this firmware turn fully off immediately. I can stress-test it a bit, try it on some of the lights which have been particularly stubborn about never turning off correctly, but early indications are good.

[2022-10-03 06:10] openshwprojects commented on #238
@Minims  BL602 most likely needs a LWIP stability fix ported from BK7231N platform. It has the same issues like N. Most likely related to threading. I might do this soon when N testing is done.

[2022-10-03 06:24] openshwprojects commented on #236
Well... it was fixed in [1.12.71](https://github.com/openshwprojects/OpenBK7231T_App/releases/tag/1.12.71)
Just about the same time you posted the issue.
https://github.com/openshwprojects/OpenBK7231T_App/commit/2284d0ec97c428eb5422b627211c680f81ff8392

Sooo just please update and recheck. I need help with testing.

Futhermore, the code ASSUMES that I2C bulb is RGBCW and you need to manually edit

[2022-10-03 10:55] Seeelefant opened #241 "OpenBK7231 also working for the WBR3 chip"
Dear all, I have a thermostat BOEK [TOL47WIFI](https://www.beok-controls.com/Content/upload/PDF/2021837153/TOL47-Heating-Thermostat-Manual.pdf)-EP  with a [WBR3 ](https://developer.tuya.com/en/docs/iot/wbr3-module-datasheet?id=K9dujs2k5nriy) chip inside. Is OpenBK7231T also working for this product?

[2022-10-03 11:34] openshwprojects commented on #241
We'll look into that

[2022-10-03 12:33] oxodao commented on #218
Yeah my bad, I forgot to add them to the issue
Here it is:
![https://imgur.com/a/ZnZBKiJ](https://imgur.com/a/ZnZBKiJ)

[2022-10-03 12:54] valeklubomir commented on #218
You should supply power directly to module with GND, TX1, RX1. Look which pin is VCC (3V3). Bypass the battery switch.

Power down is probably build following, impulse from HW switches power to module, module runs and completes task
and when module is finished the it cuts power to the module it self.
During the Run State module must hold active level on specific pin to run the firmware, so you nee

[2022-10-03 13:04] openshwprojects commented on #204
@valeklubomir I will try to test your changes more now

how is your bl0937 now?

[2022-10-03 13:06] dwildstr commented on #221
After a bit more experimentation:

Of the 7 bulbs I flashed this on, every single one of them turns off fully immediately, and shows no sign of the "slow creep on" I'd seen before, even after about an hour off. I haven't tested _every_ bulb is _every_ mode, but I've tried them in RGB mode, CT mode, and with various brightnesses, and in all those modes a disable request seems to reliably turn the b

[2022-10-03 13:39] valeklubomir commented on #204
@openshwprojects So far only 15 hours, stable and working. Connected to serial monitor. No AC MAINS.

[2022-10-03 15:13] valeklubomir commented on #204
But If I increase number of messages to be send to MQTT server, device freezes again.
But device does not freeze so often when it needs to handle messages received from server.
Messages generated with function DRV_OnEverySecond have the intention to corrupt socket.
I think we need to create queue for and push messages into queue in DRV_OnEverySecond  and pop in MQTT callback function
Still some wo

[2022-10-03 15:19] DSchndr commented on #175
@jmacato can you test if it behaves the same with the fw from #221?

[2022-10-03 15:24] DSchndr commented on #221
Nice, yes the fw is older since compile time is shorter when it was already built (can probably my codebase update again)
Will add pr so it should be fixed in the upcoming releases ^^

[2022-10-03 16:32] DSchndr commented on #221
By the way, are they the same brightness as original firmware or dimmer / brighter?
A command to set the current per channel is missing

Also, Dimming could probably be hacked to go even dimmer (if people want it)

[2022-10-03 17:15] valeklubomir commented on #204
@openshwprojects
New solution found. LWIP stack modification. Sending of MQTT message is executed during LWIP stack idle poll not in functions which message generate. This should reduce collision to minimum.
Also in the _App for BL0937 driver transmitting of measured value. Changed intensity of messages.

Unfortunately last modification of logging in _APP is causing OTA freezing.

[2022-10-03 17:24] openshwprojects commented on #204
@valeklubomir  which OTA mod? The pull request with tidying up code? You can revert that, but that's new to me.

[2022-10-03 17:33] valeklubomir commented on #204
@openshwprojects Already created pull request with fix.

[2022-10-03 17:45] openshwprojects commented on #204
Doing os_malloc with every log is out of the question. It's better to revert to a constant-size buffer that is global.

[2022-10-03 17:50] valeklubomir commented on #204
@openshwprojects At least I know the source. Putting as local variable in function probably caused stack overflow.
May be reserving multiple buffers and using markers if occupied or not.

[2022-10-03 18:50] jmacato commented on #175
@DSchndr  perfect!!! This fixes the creeping turning on issue no. 3!!

[2022-10-03 18:52] openshwprojects commented on #204
I didn't have time to test during last several hours. Are you saying that log pull request really made OTA broken? That's bad, I will have to open my two bulbs again. Thanks for spotting.

[2022-10-03 18:52] jmacato commented on #221
@DSchndr that would be really welcomed, right now the dimming options is not matching the original afaik.

Also, i wonder if we can address the slow RGB color switching issue? I want to transition colors in between but the driver seems to be too bloody slow for it

[2022-10-03 19:13] valeklubomir commented on #204
My last version from yesterday (shortly after midnight) was working and OTA was working. Last 3 days I was updating only with OTA. Counter was showing 80 updates. Today after all the merges I uploaded new version to device and OTA failes. Reflashing yesterdays version corrected it and OTA with bug in logging caused OTA again to fail. Fixing logging.c (even not favorable os_malloc usage) made the O

[2022-10-03 21:38] dwildstr commented on #221
AFAICT, both 1.12.74 and the DSCH_BP5758D_FIX_1 test firmware have the same apparent brightness as each other --- I assume you meant by "original firmware" the stock Tuya firmware that came with the bulbs, and that one does indeed seem to have a different brightness range than any OpenBeken firmware. I've set up a stock-firmware Tuya, an OpenBeken 1.12.74, and a test-firmware bulb of the same type

[2022-10-04 02:05] jmacato commented on #221
@dwildstr Yeah I meant the stock Tuya firmware, they seem to have more brightness range as far as i can tell at least.

[2022-10-04 02:16] openshwprojects commented on #204
Unfortunatelly, I can confirm. My bulb dies when I try to open web panel after logging.c pull request by @softplus . It seems we need to enforce "test your pull requests before submitting" policy or just test them ourselves instead just doing a code review. I usually DO test myself stuff, but this time I didn't suspect that it can break so much.

Testing again...
![image](https://user-images.githu

[2022-10-04 03:33] openshwprojects commented on #175
Great job @DSchndr , I don't know exactly what this issue haven't happened for the first person who tested BP5758D but at least it's resolved now.

Any ideas on the remaining problems?

@jmacato  you could ship to me, but what would be a cost of doing that to Poland?  Prices can be crazy these days.

[2022-10-04 03:44] openshwprojects commented on #175
@jmacato  I have an idea, what about this?
https://github.com/openshwprojects/OpenBK7231T_App/commit/9f78072141578ae07d318ca40cbab9b369c18648

[2022-10-04 04:06] openshwprojects commented on #222
Didn't have time to play with W800/W600 yet. What is the current state of things, @iprak  ? Is there anything you need help with? In a meantime, we're fixing the N stability and some LED stuff

[2022-10-04 06:06] jmacato commented on #175
@openshwprojects It's Fixed!!!! :D I think i can close this now since https://github.com/openshwprojects/OpenBK7231T_App/commit/9f78072141578ae07d318ca40cbab9b369c18648 is merged?

[2022-10-04 06:16] #175 closed

[2022-10-04 06:40] DSchndr commented on #175
@openshwprojects In terms of timing we could do some tuning (I have no lamp with this driver tho)
![image](https://user-images.githubusercontent.com/19175445/193750037-a3ce87a2-79c6-4cc2-9638-3dc743c90602.png)

As for the staggering issue... does it happen on turn on? If so we could add the workaround of setting the colors first then output enable

[2022-10-04 07:48] openshwprojects commented on #175
@jmacato thank you for testing, if you have some free time, please post the device information (photos + where to buy if possible + case photos + internal photos), obk config screenshots, and maybe a photo in action in our Teardowns forum, here: https://www.elektroda.com/rtvforum/forum507.html , as we are making a large database of IOT information for users. You can also consider posting your conf

[2022-10-04 08:37] jmacato commented on #175
@DSchndr i think the staggering issue was caused by the large delays when the firmware was using rtos sleep instead of just usleep, now that issue is gone :D

@openshwprojects will do! hopefully i can do it asap

[2022-10-04 09:16] openshwprojects commented on #221
@dwildstr  thanks, do you think that may relate to that current setting?
![image](https://user-images.githubusercontent.com/85486843/193782245-fd2ee854-0b73-4cb4-b5dc-8018e8903722.png)
I can make it user configurable, but you see.... I don't know the current requirements of each particular IoT device, and setting too large current may decrease LED life...
Anyway, I will make it configurable, will

[2022-10-04 09:34] openshwprojects commented on #236
I think it's safe to assume it's solved now, although ut could be improved.

[2022-10-04 09:34] #236 closed

[2022-10-04 10:40] openshwprojects commented on #211
@Gamerayers  @alexsandroz  where to buy such bulb? I'd need one for testing, its hard to do it remotely

[2022-10-04 10:46] Gamerayers commented on #211
https://www.amazon.com/dp/B0839GWV8X?pd_rd_i=B083BRRZ4Y&pf_rd_p=7672bfb7-93b0-4322-b745-2104db09c4df&pf_rd_r=5N18DHHCB17P9NVEAWXZ&pd_rd_wg=CWvS5&pd_rd_w=f9ZZ5&pd_rd_r=a4a41704-29fc-4684-8e89-22f538d3151c&th=1
These are the Treatlife ones I have.  They can be reflashed using the Tuya-Cloudcutter app.  Honestly, the process was really similar to the Tasmota OTA one.  LOVE IT.

[2022-10-04 11:27] iprak commented on #222
I have made good progress. Through trail/error and logging, I was able to isolate the potential root causes - storage overflow and missing NULL check. This was in JSON generation/cleanup and was not associated with MQTT publish.

I did not use the latest lwip but did increase MQTT_OUTPUT_RINGBUF_SIZE, etc. which would have eventually caused MQTT publish to fail.
I am also switching to fixed size s

[2022-10-04 13:22] dwildstr commented on #221
I have a few sacrificial Daybetter bulbs (I got a good price on 12 of them) and can certainly give anything which implements variable current a try. It looks like any current from 1mA to 93mA is possible? (side note: why is that high bit in the current specification 30mA instead of 64mA? Tuya design is so weird...)

I'm not much of a hardware guy, or I'd attach traces to a stock bulb somewhere and

[2022-10-04 15:23] openshwprojects commented on #221
I will do it, this will be in a form of console command, wait

[2022-10-04 15:55] openshwprojects commented on #221
@dwildstr  done https://github.com/openshwprojects/OpenBK7231T_App/commit/387a3a4ff3d19ec729c95ad73153865333609f6f
Tested, it indeed changes the brightness, but I have not tested what happens in higher current modes, I don't want to burn the LEDs.

Btw, what kind of Daybetter bulbs do you have? Can you post some teardown photos on our forums and add a device template?
https://www.elektroda.com/rtv

[2022-10-04 16:06] #165 closed

[2022-10-04 16:07] #100 closed

[2022-10-04 16:08] openshwprojects commented on #105
Let's say it's done, we have a database here:
https://github.com/OpenBekenIOT/webapp/blob/gh-pages/devices.json
Thank you for all your suggestions. If you have any devices, submit them here:
https://github.com/OpenBekenIOT/webapp/blob/gh-pages/devices.json
and post a teardown on Elektroda. Thanks!

[2022-10-04 16:08] #105 closed

[2022-10-04 17:07] alexsandroz commented on #211
I bought from the link below:
https://pt.aliexpress.com/item/1005004004038858.html?spm=a2g0o.order_list.0.0.3a2bcaa4M1sQPj&gatewayAdapt=glo2bra

[2022-10-04 17:45] dwildstr commented on #221
Awesome, I'll flash that firmware and play with current changes. The template for the Nous P3-A60-RGB-CCT is identical to this bulb's module configuration. It doesn't have a really nice model number; "800lm 9W RGB+2700-6500K" is a direct transcription of the closest text appearing on the bulb itself to a model identifier.

I can post teardown photos at some point, probably after I stress-test a wo

[2022-10-04 18:30] openshwprojects commented on #221
Wow, a stress-test to death would be a great ending for the teardown article! I'm eager to see the results, if you're really willing to sacrifice a bulb, do it and post it on our forums.

For the record, is the flash dump submitted for tuya-cloudcutter?

[2022-10-04 18:42] dwildstr commented on #221
No flash dump submitted (and unlikely to be; I'm not much of a hardware guy and was relieved to no end that I could reflash these bulbs away from stock firmware OTA, because I am not good at soldering), but the bulbs respond well to the "Tuya-Generic/E27-RGBCW-Smart-Life-WB2L_M1" profile. If at some point I do a full teardown on a stock bulb, maybe then I might solder up the means to take the firm

[2022-10-04 18:54] openshwprojects commented on #221
Wow, they respond to the profile that used flash submitted by me. I'm happy that I helped!
Please remember to note that in teardown.  There is no need for second flash dump if they already respond to existing profile.

[2022-10-04 21:02] dwildstr commented on #221
On my exceedingly unscientific "painfulness to look at" measure, a current setting of 252 (which corresponds to 90mA, if I'm reading the report on how the current bits are interpreted correctly, although there's something weird about the high bit --- a current of 128 _should_ be 30mA according to the comments, but it's dark. Does the high bit only work in combination with the next bit, to describe

[2022-10-04 21:46] dwildstr commented on #221
Followups: the base gets _very_ hot. It felt painful to touch, which wasn't a very scientific standard, so I jammed a meat thermometer up in there and got a reading of 126.3 degrees (Fahrenheit). The stock Tuya was similar, clocking in at 124.9. The base of a bulb running at 14mA came in at a considerably cooler 102.5.

Just for fun, I tried executing BP5758D_RGBCW FFFFFFFFFF on the bulb running 9

[2022-10-05 01:42] DSchndr commented on #215
Pardon, did you use the rx/tx near the microcontroller (which I assumed are uart1) or did you solder to uart2 (log) on the module?

There should be data similar to this: https://tasmota.github.io/docs/TuyaMCU/#tuya-protocols

[2022-10-05 03:58] jmacato commented on #221
@dwildstr idk if you noticed it but is your bulbs outputs good enough white color on RGB mode? I noticed that it's a bit too bluish on my bulbs... That's i always had a command to turn on all channels (RGB+CW) on startup so that it has better daylight color. Not sure if that's a good way to go though lol

[2022-10-05 08:03] openshwprojects commented on #204
@valeklubomir  any news on that? I haven't performed much tests as I expected because of router issue, but I will investigate more soon.
Have you seen that issue? https://www.elektroda.com/rtvforum/topic3920846.html

[2022-10-05 08:04] openshwprojects commented on #187
Thanks, I will assume it's solved now.

[2022-10-05 08:04] #187 closed

[2022-10-05 08:07] openshwprojects commented on #203
@yipperr  does it still happen with latest great help and changes made by @valeklubomir ? With LWIP update?

[2022-10-05 08:37] valeklubomir commented on #203
@openshwprojects There is last pending pull request for OpenBK7231N (not yet applied). Which also helps bit.
With this and my last pull requests to OpenBK7231T_App (already applied) should be stable enough.
My forked Repositories.
My device runs: 1 days, 13 hours, 19 minutes. Build on Oct 3 2022 20:36:38.

MQTT State: connected RES: 0(ERR_OK)
MQTT ErrMsg:
MQTT Stats: CONN: 1 PUB: 72582 RECV: 64261

[2022-10-05 08:44] valeklubomir commented on #204
Comment at https://github.com/openshwprojects/OpenBK7231T_App/issues/203

[2022-10-05 08:49] openshwprojects commented on #203
@valeklubomir  sorry, I must have missed that. Those are good changes, thanks.

If you are researching a new device, could you make a short teardown and photos and post them on our forums?
https://www.elektroda.com/rtvforum/forum507.html

Have you seen my already done teardowns on this forum? Maybe they can help a bit. I've done a lot of them already.

[2022-10-05 08:53] valeklubomir commented on #204
@openshwprojects
issue: https://www.elektroda.com/rtvforum/topic3920846.html

message: Info:MQTT:mqtt_connection_cb: Disconnected, reason: 256

MQTT broker disconnected. Need to see logs on broker.
When I started fixing MQTT and LWIP upgrade, Broker closed my connections due to protocol errors and malformed packets.
keep-alive is working and holding connection openned. Third case when broker close

[2022-10-05 08:59] openshwprojects commented on #204
that user has T platform, maybe the T platform could use a port of N platform LWIP update, even tough my initial assumption was that is not needed

[2022-10-05 08:59] valeklubomir commented on #203
@openshwprojects I did not documented teardowns of both devices but I can still make a summary.
All your teardowns helped me with starting this project. There were some road bumps on the way.

[2022-10-05 09:03] valeklubomir commented on #204
@openshwprojects I do not see any obstacles why not. Except I do not have any T device so can't test them. Doing this blind is not safe.
Adding LWIP 2.1.3 was not so difficult took me 2-3 hours to complete. Sugestion take it from N and upgrade makefile application.mk. Majority of changes in LWIP 2.1.3 in N repo. Using published LWIP does not help much.

[2022-10-05 09:11] beaune33 commented on #227
I was not aware that Bkwriter could also help to deal with N-type. But could you give me a hint how to erase the complete flash? I only see the option to write a file.

[2022-10-05 09:56] openshwprojects commented on #204
This guy says:
https://www.elektroda.pl/rtvforum/viewtopic.php?p=20222168#20222168
that version 1.12.6x without OBK_FLAG_MQTT_BROADCASTSELFSTATEPERMINUTE was OK but version 1.12.81 with OBK_FLAG_MQTT_BROADCASTSELFSTATEPERMINUTE on N platform crashes after several hours
Do you think it's resolved now?
I've recommended him a new build
![image](https://user-images.githubusercontent.com/85486843/19403

[2022-10-05 11:16] Refuhr opened #246 "Standard LED temperature always on 250 when using startup command and "remember state" disabled"
When using my startup command (backlog led_dimmer 80; led_temperature 450;  led_enableAll 1 [Flag 12 disabled]) and I want to only change my brightness either via HA or the Webgui, the LED temperature is always set to 250 as defined in this function in the code:

*src/cmnds/cmd_newLEDDriver.c*
[code]
My question now is, if "LED_SetTemperature(250,0);" really is needed?

[2022-10-05 11:36] iprak commented on #238
Please try it again, https://github.com/openshwprojects/OpenBK7231T_App/pull/245 addresses some memory issues.

[2022-10-05 11:47] openshwprojects commented on #246
I think you are correct. It is indeed a bug. It should use the value from the variable. I am submitting a fix:
https://github.com/openshwprojects/OpenBK7231T_App/commit/ac3a13b2537544c9cad600078f00d0bb0b01e036
Can you recheck is it better now?

[2022-10-05 12:26] evlo opened #248 "BK7231T RX1 TX1 only? No power"
Hi,

from this https://github.com/openshwprojects/OpenBK7231T_App/wiki/BK7231T it seems that to flash I just need to connect rx1 and tx1 and no power connectiuoin is requierd to flash the thing, is that really true?

[2022-10-05 12:29] Refuhr commented on #246
Works like a charm, thank you!

[2022-10-05 12:29] #246 closed

[2022-10-05 12:34] Refuhr commented on #248
Ground and the two data lines are  needed, and for power you can either plug it into an outlet **definitely not recommended, but possible** or you can power it with 3.3V via your programmer.

[2022-10-05 13:04] evlo commented on #248
Thank you for the super quick reply. 3.3V would go to the pin called VBAT on the module? (the "bat" part is kinda confusing to me)

[2022-10-05 13:05] jmacato commented on #221
@dwildstr right now the toggle on/off feature only restores the RGB lights, it would be great if it can restore the states of the CW channels as well.. any thoughts @openshwprojects @DSchndr ? Should i make a feature request for this?

[2022-10-05 13:30] dwildstr commented on #221
Woop, guess I'm doing that teardown a little sooner than expected. I was trying to get a multimeter read on the voltage across the two pins which provide voltage to the LEDs, and accidentally shorted them out. Flash, pop, and there's now a scorched spot labeled "R2" on the mainboard where an SMD resistor used to be.

Taken lots of pictures, identified pretty much every component. I'll write it up

[2022-10-05 14:12] openshwprojects commented on #222
Good job.
@iprak , is w600 OTA ready? I have W600 RGBCW bulb! W600 OTA would help a lot and I'd be able to test more, especially that I need to get that one running.

[2022-10-05 14:31] iprak commented on #222
Oh yes, that is what I have been using. The OTA however is only implemented for W600/W800 in the app served by the device and not by OpenBekenIOT/webapp.

[2022-10-05 14:33] openshwprojects commented on #222
@iprak  wow that's great, i will really try to setup the SDK for compilation and OTA of W600, if there is anything else I need to know please tell me now, I have just a single W600 bulb and I don't want to brick it. I will test with W600 dev board first.

[2022-10-05 14:38] iprak commented on #222
How will you flash the bulb?

I have been working with this chip. I wired the serial pins and was able to flash it. I did have to use full erase the very first time with the UART (fls) image.

![image](https://user-images.githubusercontent.com/6459774/194087697-b6ef957a-52c6-4db8-8643-7de0a4cbc4ef.png)

For OTA update, I have been using the gz.img

[2022-10-05 15:59] DSchndr commented on #221
@jmacato huh, does the color get set when you manually set the channels? (after turning all channels off)
if so the bug is probably not in the driver (since it just takes its rgbcw values and writes them)
Yeah, open a new issue since this one is pretty much completed :)

[2022-10-05 16:41] openshwprojects commented on #222
I will most likely use this method for flashing bulb:
https://www.youtube.com/watch?v=7MyfSgxLAOo&ab_channel=elektroda.pl
Btw, are the english subtitles working for my video?

Very nice images, remember to post this as a teardown to Elektroda!

Look:
![image](https://user-images.githubusercontent.com/85486843/194115288-99246f52-479d-46ad-9013-a5251b11df56.png)
testing begins

[2022-10-05 16:56] iprak commented on #222
Yes subtitles are excellent.

[2022-10-05 17:15] jmacato opened #249 "RGBCW values not restored when toggling on/off"
So i have the following autoexec.bat file for my bulbs:

[code]

After a fresh restart and toggling it on and off on the configuration menu, it seems like that it's only restoring the RGB values instead of all channels.

[2022-10-05 17:15] jmacato commented on #221
@DSchndr please check https://github.com/openshwprojects/OpenBK7231T_App/issues/249

[2022-10-05 17:16] openshwprojects commented on #222
I connect to this AP some time and after opening the main page I had:
![image](https://user-images.githubusercontent.com/85486843/194121343-96f00679-a358-4760-9576-3d4085df3a0a.png)
and it froze when I clicked "Config".
But now I see that this small WiFi dongle I am using (see previous post for image) is hot, so maybe it's overheating...
I will give it 15 minutes to cool down and try again.

[2022-10-05 17:22] openshwprojects commented on #221
@jmacato huh? for my bulbs On/Off button remembers all stuff, including brightness, color, and CW slider state.

[2022-10-05 17:23] openshwprojects commented on #249
@jmacato  the commands are not registered unless the BP5758D driver is running.
Please add one line to autoexec, the first line should be:
_startDriver BP5758D_
this will make sure that driver is already up and running when the next commands are executed

[2022-10-05 17:31] iprak commented on #222
I saw something similar at the beginning when I was playing with the SDK demo app, the `t-scan` test would give nothing. No errors but the access-point test would passed and I was able to connect to it. So I couldn't blame it on bad radio on the chip.

Anyway, I then the full erase option with wm_tools and everything started working.

I had the chip connected to 2 separate dongles, one for 3.3 and

[2022-10-05 17:31] jmacato commented on #249
Ah yeah, makes sense and that was i assumed as well (only having Cold to Warm spectrum instead of both). But sadly due to the poor color quality of these bulbs, the only acceptable way to have it display a good daylight color is to enable all channels at once, or at least both Cold and Warm channels. I hope we can add an override for this if it doesnt fundamentally changes any core code.

[2022-10-05 17:33] sstudent commented on #215
Here is the answer on uart1 loged on realterm: 00 11 FF FF FF
And after push the batons:
00 11 FF FF FF CC 04 07 CC 04 0F CC 02 0B CC 02 0F CC 01 0D CC 01 0F CC 02
0B CC 02 0F CC 01 0D CC 01 0F
In the attached I send you logs from logic progam (Logic analyzer)

[0XFF.zip](https://github.com/openshwprojects/OpenBK7231T_App/files/9717781/0XFF.zip)

[2022-10-05 17:37] openshwprojects commented on #249
Ok ok I think this is very easy to fix. I moved setting the default value before the autoexec runs, here:
https://github.com/openshwprojects/OpenBK7231T_App/commit/eafd942352d0527cc31d3a98067bc31409cf5ec6
Please wait for the new build and recheck.
It would be also good if other users with bulbs can recheck stuff. I am not able to check everything with each change, and right now I am starting to wo

[2022-10-05 17:43] openshwprojects commented on #222
@iprak  I think we might have a long-ongoing issue with LWIP. It was fixed on N SDK by one contributor, but the same problem was in BL602 and still is not fixed. I don't know about W600 yet.

This little dongle gets really, really hot. I will try to test more, but maybe I will really find some kind of radiator and just stick it with thermal paste to it so it can run longer.

Why is total number of

[2022-10-05 18:19] euro2 commented on #225
Nope. They are already in use now. Mqtt is super fast :). So for now i dont mind the slw to respond webgui atm.

But I might buy some more since they are super cheap. Then ill hook them up to a raspberry pi for flashing. What would you like to try?

[2022-10-05 18:20] euro2 commented on #226
great to hear. Else i would have thrown them away :)

[2022-10-05 18:48] valeklubomir commented on #204
@openshwprojects I will test it.

[2022-10-05 19:00] valeklubomir commented on #204
@openshwprojects How does it works? Self state contains 5 messages.
Does it sends 1 message per minute. Or should it send at once?

My version now runs:
Online for 1 days, 23 hours, 47 minutes and 47 seconds
MQTT State: connected RES: 0(ERR_OK)
MQTT ErrMsg:
MQTT Stats:CONN: 1 PUB: 92756 RECV: 82191 ERR: 5

Activating
Flag 2 - [MQTT] Broadcast self state every minute (May cause device disconnect's,

[2022-10-05 19:17] valeklubomir commented on #248
I have ESP-PROG programmer, using it for ESP32 project.
I has 6-pin PFL connector for ribbon flat cables.
I have connected following:
PIN1 - EN - CEN
PIN2 - VTARGET - VCC (5V/3V3) power to module. 3,3V directly or 5V over LM1117 LDO
PIN3 - TX1
PIN4 - GND
PIN5 - RX1

This setup has 2 major advantages.
1). ESP_PROG has RESET button on board. Can be used for reseting BK7231
2). Both applications BK_w

[2022-10-05 19:24] valeklubomir commented on #227
![image](https://user-images.githubusercontent.com/71550793/194144753-6ccfeb17-d651-4ec3-af33-709c716bd368.png)
Erase all chip flash not always works with program.
I do steps marked 1, 2, 3. Normally it end with success.
The I disable Erase all chip flash and open QIO file and press Program.

[2022-10-05 19:28] Minims commented on #238
No more crash, seems really better

[2022-10-05 22:37] #238 closed

[2022-10-05 23:39] openshwprojects commented on #225
right now many things has changed in bk7231N build so maybe just update to latest version and see how it works, you can use OTA, no need to solder wires

[2022-10-06 00:24] jmacato commented on #249
@openshwprojects it's fixed now! thanks so much :D

[2022-10-06 00:25] #249 closed

[2022-10-06 01:57] jmacato opened #250 "Webapp stopped working after update to 1.12.86"
As title describes.

Though there seems to be a Vue related error, this could be a clue?
![image](https://user-images.githubusercontent.com/16554748/194197141-5c3fbfbc-e7e6-477c-9843-d4a72f8d6b9e.png)

[2022-10-06 06:40] Sineos opened #251 "Error in browser console"
I'm experiencing the web-if to be very slow to react, e.g. when toggling the power relay the loading indicator of Firefox would spin for 30 sec before executing the command. Especially when clicking fast through the web-if it might even end up in a timeout condition

The browser console is showing a constantly repeating
[code]

as well as (but likely just cosmetics):
[code]

Device Info:
[code]

[2022-10-06 08:55] beaune33 commented on #227
Ok that helped:

- The Erase-Checkbox only occurs, if you choose BK7231N, not for BK7231. That was my fault.
- Erasing itself always ends with failure. I am not sure what it really did. I tried several times.
- At the end I tried to flash the actual firmware with BKwriter, and indeed that worked! I have no idea why, because I thought for flashing the N variant you can only use hid_download.py, not

[2022-10-06 08:55] #227 closed

[2022-10-06 10:06] openshwprojects commented on #204
@valeklubomir
This users checked the version number which you can see on screenshot:
![image](https://user-images.githubusercontent.com/85486843/194285790-9c7dabf8-ed6a-4c9c-a0ed-7a23632e0c94.png)
He says that it reconnects constantly, as you can see on the image he has posted.
So there is still some issue.

[2022-10-06 11:07] valeklubomir commented on #204
Unfortunatelly my device works stable. No dicsonnect/connect past 2 days, 15 hours, 41 minutes
And flag 2 active since 15 hours

Here will help only logs from his side. MQTT server(comm history) Router (wifi logs) or use netcat on device (listen to udp port 9000) anything.

[2022-10-06 13:04] openshwprojects commented on #195
@DSchndr  that part of your config is invalid, I haven't noticed it before:
![image](https://user-images.githubusercontent.com/85486843/194320041-d70265f3-774c-4355-bb43-c90cbb98df08.png)

[2022-10-06 13:39] euro2 commented on #225
ill wait out the 'no webgui' bug for now ;)

[2022-10-06 13:46] iprak commented on #250
New devices would not cause loading `httpVuewLoader` to fail. I am not seeing any error while just navgiating to https://openbekeniot.github.io/webapp/. I am not getting any error on 1.12.84  .. maybe try clearing browser scripts.

[2022-10-06 14:15] jmacato commented on #250
Okay... seems to be false alarm, i used my smartphone and it works there. Must've been some mishap on my laptop

[2022-10-06 15:39] dwildstr opened #252 "Quibbles with light bulb autogenerated HA YAML"
I'm glad the feature to autogenerate YAML is working (it used to just have a blank configuration), but I noticed some discrepancies between what it generates and what I've been using on an RGBCW light ---- some of that's certainly down to personal preference in configuration, but there were a few things which seemed like they were mistakes. This is all in lines 1351–1367 of `httpserver/http_fns.c`

[2022-10-06 16:04] btsimonh commented on #250
check for adblockers, etc. on the laptop.  You could look at network, and see if it tried to retrieve httpvueloader?
br,
s

[2022-10-06 16:39] openshwprojects commented on #250
**it didn't work for me as well but now it works, was something changed?**
I obviously have an adblock

[2022-10-06 17:07] dwildstr commented on #252
An addendum: The `state_topic` key as currently written causes the bulbs to have their state reported as "unknown" in Home Assistant; removing it seems to make them mostly work (sometimes being a bit out of sync if HA or the bulbs have been rebooted). I  can't figure out why this would be the case. The bulbs do indeed seem to be publishing their state on MQTT correctly. This may be related to some

[2022-10-06 19:23] Avitii opened #253 "Doesn't work on specific WiFi channels"
WiFi RGB controller (Chipset BL602) doesn't work on some WiFi channels. It doesn't work on channels: 9 (2452 Mhz), 10 (2457 Mhz) and 11 (2462 Mhz). The rest of the channels work, other IoT devices works fine on these channels.

[2022-10-07 06:10] openshwprojects commented on #252
Hmmm I didn't think that indent affects anything, but ok. The {{ value }} stuff was just to be sure that no strange default setting breaks things. Anyway, I have applied your suggestions and I will try to check it now when I get some free time:
https://github.com/openshwprojects/OpenBK7231T_App/commit/585f633de568538ced3b56238e85e9d2ae30dc78
Can you recheck?

Also... "or the bulbs have been reboot

[2022-10-07 06:20] openshwprojects commented on #252
Wait.... shouldn't the rgb_value_template be:
_rgb_value_template: "{{ value[0:2]|int(base=16) }},{{ value[2:4]|int(base=16) }},{{ value[4:6]|int(base=16) }}"_
?

[2022-10-07 06:54] openshwprojects commented on #204
I am waiting for his reply.

@valeklubomir  let the testing begin
![image](https://user-images.githubusercontent.com/85486843/194482158-0f7d4367-9a6b-48ff-af8e-627a626160cc.png)
![image](https://user-images.githubusercontent.com/85486843/194482205-bad7b56e-d22e-4907-adcd-77d786565412.png)
![image](https://user-images.githubusercontent.com/85486843/194482256-48f0f742-c5fd-43e0-8b31-92c4ec6155c3.png

[2022-10-07 07:05] btsimonh opened #254 "Possible MQTT issue on initial flash/default config - could point to a cause of long term stability issues?"
I just updated from an ancient dev version to
Build on Oct 6 2022 13:15:37 version 1.12.88
Chipset BK7231T

The device died quickly (drops from wifi after a minute or two) until I setup the MQTT server, and now it's been stable for >20 mins.

So the implication is that the MQTT server connect retries kill it somehow.

The default server is on 192.168.0.x, whereas my lan is 192.168.1.x, so the serv

[2022-10-07 07:12] openshwprojects commented on #254
@valeklubomir can you see it?

[2022-10-07 07:14] openshwprojects commented on #204
Small improvement from my side:
https://github.com/openshwprojects/OpenBK7231T_App/commit/c7955c04627a510a864e9a24c4a568c259b1f528

[2022-10-07 07:33] manivalaguru commented on #204
hello, i am using T version but my mqtt still not stable it disconnects and connects constantly i have read the things here and did some changes on T sdk but that does not help

[2022-10-07 08:12] bbloomberg commented on #152
I would also be interested in this behavior.

[2022-10-07 08:53] valeklubomir commented on #204
@openshwprojects I have to order some LED RGBCW bulb and work with it.
At moment I have only 2 smart plug. Both model BK7231N with energy monitor (BL0937, BL0942).
Both are now stable enough for my usage.
But I think that bulbs have higher MQTT message throughtput than smartplug and this may cause something.
I was running my Smart plugs with message frequency 1 message every 2 seconds for alsmot 3

[2022-10-07 09:13] valeklubomir commented on #254
@openshwprojects I have not seen this behavior. But this issues is reported on T version. Which could also have LWIP update.
I run yesterday my device from initial flashing. Erased entire flash, and configured device from scratch.
It was not killed any time in the process.

[2022-10-07 10:30] szokeptr commented on #152
I managed to implement fading in a fork, take a look for inspiration 😃 https://github.com/openshwprojects/OpenBK7231T_App/compare/main...szokeptr:OpenBK7231T_App:experiment

[2022-10-07 11:49] iprak commented on #252
The `state_topic` seems to work fine for RGB. This could be because the device does not publish the state unless some change was made or `Flag 2` was set. With `Flag 2`, the bulb state syncs up within the next 30 seconds. I realized this while working on #247.

The generarted yaml seems to have been fixed and the other hass issue had long been closed.

[2022-10-07 11:56] iprak opened #255 "Switch state is not emitted if there is any PWM role present"
This code block suppresses sending out switch status if there any pin is using PWM role?

[code]

[2022-10-07 11:59] iprak opened #256 "Should temperature slider appear if there are 2 PWM pins?"
This happens because of this check
https://github.com/openshwprojects/OpenBK7231T_App/blob/34c5d1eb1ec59cd50b204660a5bffac3769e2891/src/httpserver/http_fns.c#L482

The slider doesn't seem to do anything and does not match the UI in Homeassistant.

[code]

[2022-10-07 12:02] iprak opened #257 "Should pins configured as LED appear as relay ?"
h_isChannelRelay treats LED and Relay roles alike. This later results in LED pins to appear as relay in Hass config. I suppose one would control the LED as relay which I think could be useful but this confused me for a while.

[2022-10-07 13:51] fjuliofontes opened #258 "I'm losing internet access after a few hours (sometimes days)"
I'm experiencing some network issues. After some hours (sometimes days) I lose the access to the web page (no response). When I do a manual reboot I get access again to the page. Is this happening to someone else?

[2022-10-07 14:22] openshwprojects commented on #257
No problems here. Some devices might have separate IO for relay and for LED. Some people might want to use onboard LED as Relay indicator, and some might want a WiFi indicator. It's assumed that you can use both Relay and LED roles on two pins in the same channel.

[2022-10-07 14:24] openshwprojects commented on #256
The "only 2 PWMs pins" situation was never handled by me as I never had a device with only 2 PWMs. This is not a bug, it's just 100% TODO. I only managed to handle, if I remember correctly, single PWM device, 3 PWM device (RGB) and 5 PWM device (RGBCW).
You can do the 2 PWMs devices support if you want.

[2022-10-07 14:25] openshwprojects commented on #255
Currently it's assumed that there is no device that has both PWM pin and relay pin at the same time. I have never found any such devices so far.

[2022-10-07 14:29] openshwprojects commented on #252
@iprak @dwildstr
why do you think that _rgb_value_template: "{{ value[1:3] | int(base=16) }},{{ value[3:5] | int(base=16) }},{{ value[5:7] | int(base=16) }}" _ is correct?
The published value has no # prefix, so it should be _rgb_value_template: "{{ value[0:2]|int(base=16) }},{{ value[2:4]|int(base=16) }},{{ value[4:6]|int(base=16) }}_" ?

[2022-10-07 14:43] iprak commented on #252
Currently, I am not seeing any issues with RGB operation.

[2022-10-07 14:43] iprak commented on #255
Not that I know of. I was using a fake device which had PWM and relay on separate pins.

[2022-10-07 14:45] iprak commented on #256
That makes sense .. I just happened to pick 2 PWM and started seeing color slider. Thanks for the clarification.

[2022-10-07 14:45] #256 closed

[2022-10-07 14:49] iprak opened #259 "Enhancement: Add discovery support for voltage sensor"
I think we (I) should be able to add discovery support for voltage sensor. I am creating this for tracking purpose.

[2022-10-07 14:50] iprak commented on #258
What device/version? Do you have MQTT enabled?

[2022-10-07 15:32] btsimonh commented on #258
could be related to my issue https://github.com/openshwprojects/OpenBK7231T_App/issues/254
Maybe it's wireless is causing mqtt reconnects, and we lose something each time?

[2022-10-07 15:52] openshwprojects commented on #258
This is new. I had devices working with HA offline for days. Can someone - @btsimonh  - check this commit?
https://github.com/openshwprojects/OpenBK7231T_App/commit/b7db834c7b01538b6c4f39ac71521f3d27171a70
Can you guys check the older versions before this commit?

Other than that, I have no idea what could have changed.

Or maybe it broke... after @iprak  MQTT queue implementation?

I don't know,

[2022-10-07 16:04] iprak commented on #258
The MQTT queue only gets uses for HomeAssistant discovery and no space is upfront reserved unless discovery is manually invoked. MQTT can be sort of disabled by leaving host field empty  .. maybe we could use that to check the interaction.

[2022-10-07 17:19] iprak commented on #254
I feel that we should remove the default `192.168.0.113` from mqtt host setting. The user would have to enable mqtt by putting in the correct host.

[2022-10-07 18:09] openshwprojects commented on #253
Are you able to check is it a matter of our SDK or is the problem present also in the original firmware?

[2022-10-07 18:09] #250 closed

[2022-10-07 18:34] btsimonh opened #260 "Wiki"
I've added a custom sidebar in the wiki.

This enables multi-level pages, but does then imply maintenance.

I'll finish my examples page when the wife will let me dedicate time to something other than her....

[2022-10-07 19:05] dwildstr commented on #252
@openshwprojects I think you're correct about the indexing in the rgb_value_template being off by one. HASS had the right RGB info for me, but I think it had it in spite of, not because of, that line.

I _still_ can't get my bulbs to work when state_topic is present; they show up as "Unknown". But I'll keep tinkering.

[2022-10-07 19:08] openshwprojects commented on #260
Good job, we could really use some more documentation.
Another thing important to do would be to 'break out' the Vue App devices database to whole world, how hard would it be to host a simple page on our gh-pages of Vue App so everyone can browse our devices.json?
https://github.com/OpenBekenIOT/webapp/blob/gh-pages/devices.json

[2022-10-07 19:21] iprak commented on #252
@dwildstr Can you paste your device yaml? And what HomeAssistant version?

[2022-10-07 19:59] dwildstr commented on #252
It looks like turning on Flag 7 (retain all MQTT publications) makes it work better. I'm guessing Home Assistant was somehow not "seeing" stale led_enableAll data or something. But weirdly it didn't help much to force toggle the lights through the web interface.
Anyways, I've got it sort of working now, but here's the relevant YAML (HASS version 2022.10.1):
[code]

[2022-10-07 20:12] iprak commented on #252
Yes usually changing something in webApp syncs up the values.

I am assuming that the MQTT server is working fine and that you don't have Flag 2 set. The yaml matches what I had. I will double check the operation at my end.

[2022-10-08 00:23] #257 closed

[2022-10-08 00:29] iprak commented on #252
I do see unknown state after adding a device. This just seems to be because no status has been sent from the device.

Manually picking bightness and color sent messages on w600Test/led_basecolor_rgb/get and w600Test/led_dimmer/get .. what was missing was the message w600Test/led_enableAll/get. Toggling the light updated the state in hass.

I tend to enable Flag=2 which automatically sends out the

[2022-10-08 06:14] btsimonh commented on #260
you mean this link:
https://openbekeniot.github.io/webapp/devices.json
? :).

[2022-10-08 06:19] btsimonh commented on #260
The other option would be to modify index.html (which is not used in the real serving?) to show a .vue page which made a pretty display of the json and contained a link to the raw json.... then we could have images and everything displayed?
a small project for @iprak maybe?

[2022-10-08 07:54] btsimonh opened #262 "Best way to get initial values via MQTT"
I have a 5 relay device.
I'd like to send something to it to make it publish the current values of the 5 relays.

Ideas welcome.

Tried:

cmd 'publish 1 $CH1' - but it just published '$CH1', and also reported command not found!

SetChannel 1 $CH1 - does not cause an MQTT message.

GetChannel 1 - does not cause an MQTT message.

I've just enabled 'broadcast self state every minute' - not quite what

[2022-10-08 08:15] btsimonh commented on #260
Basic sidebar complete, added a page about using my single button on Calex power strip to toggle any one of the 5 relays (in combination with NodeRed) :).

It MAY be possible to script this completely within OpenBeken, but probably not without a few source mods.

[2022-10-08 08:19] btsimonh commented on #254
as a sticking plaster for first flash, yes.  But if it's highlighting a general issue on MQTT reconnect which could be a cause for some reported failures.... it's a clue we should investigate.

[2022-10-08 08:28] btsimonh commented on #258
The only thing I see (cannot qualify most of the changes) is an increase from 1000 to 2048 in REPLY_BUFFER_SIZE.
I have a feeling that we started with a LARGE value here, but slimmed it down, and now 'stream' to HTTP in small chunks rather than prepare large single buffers to send?
(e.g. the purpose of hprintf128( ) is to allow the HTTP to be sent incrementally, so allowing very large data to be s

[2022-10-08 08:53] openshwprojects commented on #262
"cmd 'publish 1 $CH1' - but it just published '$CH1', and also reported command not found!"
related TODO:
https://github.com/openshwprojects/OpenBK7231T_App/issues/190
I might do that today if no one is interested

"SetChannel 1 $CH1 - does not cause an MQTT message." - not sure, but if you do this BEFORE MQTT connects, then MQTT won't know that it has to report this channel. This is simply not im

[2022-10-08 09:02] btsimonh commented on #262
publishAll sounds good.
I'll also start an issue on the high-res timer - just a place to document what you've found.

[2022-10-08 09:04] btsimonh opened #263 "High resolution timer for possible IR implementaition"
A placeholder issue for documenting how to get high res time, and how this could be applied to receiving IR via one of the common IR libraries.
Probably only T/N processors?

[2022-10-08 09:05] openshwprojects commented on #260
@btsimonh  I know javascript but not Vue, idk about @iprak "

Basic sidebar complete, added a page about using my single button on Calex power strip to toggle any one of the 5 relays (in combination with NodeRed) :)."
Can you also post it to https://www.elektroda.com/rtvforum/forum507.html ? Thanks!

_"It MAY be possible to script this completely within OpenBeken, but probably not without a few so

[2022-10-08 09:13] openshwprojects commented on #263
BL602 also could benefit from IR. I have BL602 IR device.

I will try to break out this timer, I hope it might be precise enough:
https://github.com/openshwprojects/OpenBK7231T/blob/eaf4e1a606571b9f13d9c933da61670c712a6c8d/platforms/bk7231t/bk7231t_os/beken378/driver/pwm/bk_timer.c
I'll post here more information later.

[2022-10-08 09:18] btsimonh commented on #263
just bought an N based IR device, as mentioned on the forum.  Will be here in 4 weeks.

[2022-10-08 09:32] btsimonh commented on #260
I think I made a new thread on the forum, but it's not there.  Maybe in moderation?

[2022-10-08 09:35] btsimonh commented on #260
seems to be here, not in teardowns:
[Home page ](https://www.elektroda.com/)/ [Forum ](https://www.elektroda.com/rtvforum/forums.html)/ [Temporary Forum ](https://www.elektroda.com/rtvforum/forum318.html)/ [Temporary posts ](https://www.elektroda.com/rtvforum/forum51.html)/ [OpenBeken Command use case -a 'menu' using one button and one LED for 5 relays](https://www.elektroda.com/rtvforum/topic3924

[2022-10-08 09:50] iprak commented on #260
Sorry I for got about this. I had made a prototype reusing existing vue code to displays the device configs as cards. I thought that one can just search the page instead of trying a custom search.

[2022-10-08 09:57] btsimonh commented on #263
Looks like it could give us an interrupt at a fair rate, and be able to read the cnt, so allowing interrupt from input to measure time.
I'd need to refresh myself on the requirements of the common IR libraries to know what is best... I think the most used library uses a 50us interrupt, and polls the input in that; and probably sets output in that.

[2022-10-08 10:04] openshwprojects commented on #263
Here is the source of the timers:
https://github.com/openshwprojects/OpenBK7231T/blob/eaf4e1a606571b9f13d9c933da61670c712a6c8d/platforms/bk7231t/bk7231t_os/beken378/driver/pwm/bk_timer.c
You also can look into that:
https://github.com/openshwprojects/OpenBK7231T/search?q=REG_WRITE
The timers are calling bk_timer_isr, which is an interrupt service routine. One would need to check how much precision

[2022-10-08 10:34] openshwprojects commented on #260
@btsimonh  it's a normal procedure, it will be up soon.

[2022-10-08 11:15] iprak commented on #262
I was also contemplating calling the same when devices are added via discovery. They all initially show up unavailable. Related -
https://github.com/openshwprojects/OpenBK7231T_App/issues/252#issuecomment-1272177253

[2022-10-08 11:16] #255 closed

[2022-10-08 11:29] euro2 commented on #225
version 1.12.93. Same issue. Lag

[2022-10-08 16:57] dwildstr commented on #221
Here's the promised teardown: https://www.elektroda.com/rtvforum/topic3925050.html

[2022-10-08 19:23] oxodao commented on #218
I've fully desoldered the wb3s from the main board, and wired it as you said. Now it does not even go through the "Getting bus" step, though I'm not sure I haven't broke something in the process

[2022-10-09 00:17] #259 closed

[2022-10-09 00:22] iprak commented on #254
So I got my T device to hang, I had been experimenting with invalid mqtt host and got log as following and then it hung. I only had access to web log. Funny thing is that the device was still responding to button press, only the web end points were stuck. I restarted it and then it did not happen even thought I let it run for hours like that.

[code]

[2022-10-09 09:08] btsimonh commented on #260
Added a wiki page on tuya-cloudcutter, after a successful flash of a calex RGBWW strip :).

[2022-10-09 09:20] valeklubomir commented on #254
@iprak
Info:MQTT:Connect error in mqtt_client_connect - code: -10 (4?A)
ERR_ISCONN  = -10
Means that MQTT server accepted conenction at first attempt, but firmware (new_mqtt.c) failed to recognize it.
LWIP stack is holding active socket open. I am not sure if LWIP mqtt.c apps is holding this connection also.
But this situation I tried to solve with action on -10 with attempt to request closing fro

[2022-10-09 09:54] openshwprojects commented on #260
I have only tested cloudcutter with T version, I also made a profile once:
https://github.com/tuya-cloudcutter/tuya-cloudcutter/commit/41f82d20b0e4d450ec6d788441e612910740dc32
but I don't use cloudcutter any more, I just submit new device flash dumps.

[2022-10-09 11:39] iprak commented on #254
a) The logging is incorrect which I am fixing in a small merge.

`
addLogAdv(LOG_INFO,LOG_FEATURE_MQTT,"Connect error in mqtt_client_connect - code: %d (%s)\n", res);
`

b) And yes  `mqtt_disconnect` is being done in that case.

c) I noted this comment

[code]

which explains the behavior in W600 where similar setup gives this log

[code]

W600 is using lwip 2.0.3 and T is based on 2.0.2. I could

[2022-10-09 13:53] btsimonh commented on #260
@openshwprojects -
my first time with a power plug.
Q: if i connect the 3.3v (VBAT on WB2S) and GND, it seems to want a LOT more current than I would expect (>500ma on bench supply for a moment, dare not give it for long without asking.  Would not work from 3.3 from serial adaptor or from 3.3v from my breadboard power....).
For 240v powered circuits, do you need to unsolder, else driving current i

[2022-10-09 14:01] btsimonh commented on #260
or can I give DC to the input of the dc-dc convertor?

[2022-10-09 14:39] valeklubomir commented on #254
@iprak
a) Sorry I missed this. This may be cause of crashing/freezing/problems when failed to connect.
    call stack should contain pointer to string. Without setting correct pointer, function
    uses random data left in stack. Which may result in undefined behavior.

[2022-10-09 14:50] openshwprojects commented on #254
@iprak wow that's a great find, thank you! Can @btsimonh check if it fixes that?

[2022-10-09 15:11] iprak commented on #254
I feel that there might be more to all this... maybe in W600.

I am now testing setup with no mqtt host defined in which case T (on 1.12.96) has been running fine.

But W600 gets hung after 2nd attempt. I am getting direct serial logging for it and have added more prints statements to `addLogAdv` to see what might be happening.

[2022-10-09 15:44] iprak commented on #254
logMemory.log just wraps around so this would get handled, right? Here head starts with 4046 and a string of size 83 is being added.

[code]

At some point, I get this in the log. Here the regular logging is taking place but tmp has become `#<ENQ>`. Obvously os_malloc did not fail.

[code]

Here is my modified addLogAv

[code]

[2022-10-09 16:21] iprak commented on #254
I was incorrect about the T device .. I only have webApp access to it and its log was stuck here

[code]

[2022-10-09 19:02] yipperr commented on #203
@openshwprojects @valeklubomir

i apologize for the delay in replies, i am flashing the latest build as we speak and will report back with testing information if there is any difference

[2022-10-09 21:49] sstudent commented on #215
Was it about these logs? Will it be possible to implement OpenBK on this device?

[2022-10-10 05:09] Pieter12345 opened #269 "Empty MQTT server ip on BL602L20 causes the module to not respond to HTTP requests"
# Problem
Setting the MQTT server ip to an empty string causes the BL602L20 module to no longer respond to HTTP requests within the network it is connected to.

# Reproduction
1. Start BL602L20 module with OpenBK firmware.
2. Connect to the SoftAP WIFI network that the module has created.
3. Set a valid WIFI network for the module to connect to.
4. Reboot the module. Notice that the module is now

[2022-10-10 07:03] openshwprojects commented on #269
Is it a new thing? Or does it happen also on older builds?

[2022-10-10 07:13] #248 closed

[2022-10-10 07:14] openshwprojects commented on #221
Thanks, I will add this to devices.json.

Is the issue now resolved, can I close this?

[2022-10-10 07:15] openshwprojects commented on #222
Does it still gets hot?

[2022-10-10 08:29] DSchndr commented on #215
Probably, the logic analyzer logs seem to be empty, could you hook it up and save them in multiple files like "button up"
You have to do something when you log them

[2022-10-10 09:37] valeklubomir commented on #269
@Pieter12345 Can you add some debug log to issues?
Either COM log or open UDP connection to IP address of BL602L20 module at port 9000 and save log output.

[2022-10-10 09:50] iprak commented on #222
I just measured it, it is the same as before with same power consumption.

[2022-10-10 09:58] iprak commented on #260
That seems quite a lot. I am playing with a W600 one and its max consumption has been 120mA. I have usually given power directly to the chip but have seen some teardowns where 5V was supplied to the DC-to-DC converter.

[2022-10-10 10:05] valeklubomir commented on #254
@iprak @openshwprojects
Why do you always remove all dynamic allocations and replace with static memory, rather searching for real cause where memory overflow occurs, because replacing with static memory reduces the problem not solves.
Dynamic allocation is more sensitive and in this cases may help solving by catching the issue easier.
I know that someone somewhere wrote that dynamic allocation is

[2022-10-10 10:13] btsimonh commented on #254
static memory -> no heap fragmentation.
heap fragmentation -> certain death over a period of time.
Ideally, in an embedded system, you would have NO regular malloc in normal use.
(i.e. outside initialisation, or OTA or other terminal code.).
Yes, there are many mallocs in many places in the 'OS' code - and where possible, we should mitigate their use - e.g. with custom memory allocation routines r

[2022-10-10 10:31] valeklubomir commented on #254
@btsimonh
That's all old, out of date point of view. I have build applications, which have been running for month, without restart.
Heap fragmentation was never issue. Every time when app crashed and dynamic memory was involved it was due to
some code reached read/write outside of allocated RAM space. Which can also occur within static memory.
Using static memory in multi threading system is more

[2022-10-10 14:34] dwildstr commented on #221
Thanks. It's long resolved, really (was as of release 1.12.76). Even though the discussion was continuing with _new_ issues, the original concern was definitely addressed.

[2022-10-10 14:34] #221 closed

[2022-10-10 21:50] sstudent commented on #215
Here you have all logs
[logs.zip](https://github.com/openshwprojects/OpenBK7231T_App/files/9749452/logs.zip)

[2022-10-11 00:08] Pieter12345 commented on #269
This was with build OpenBL602_1.12.95 on a new module. I have not used different versions with a BL602 before.

[2022-10-11 00:19] Pieter12345 commented on #269
I'm getting the following output on port 9000, after which my browser says that my connection was re-initialized while loading the page. This is also the moment the module becomes unreachable.
Output:
[code]

[2022-10-11 03:54] Pieter12345 opened #271 "[Feature request] Add BL602 OTA update binary to releases"
# Feature request
- Add support for flashing BL602 MCUs OTA if necessary. The webinterface implies that this is possible already, but I'm not aware of whether this is functional.
- Create a OTA `.img` binary during the build process.
- Add a downloadable BL602 OTA `.img` binary to the releases on Github.

# Justification
Reasoning behind this feature request is that I found this MCU in a smart swi

[2022-10-11 05:38] openshwprojects commented on #271
Thank you, we are aware of that. The used BL602 SDK doesn't seem to have ready plug-and-play OTA mechanism in code. It would take some programming effort to get BL602 OTA working. Are you able to help?

[2022-10-11 05:44] openshwprojects commented on #254
@valeklubomir one of the reasons is that some of the platforms (W800 and maybe W600, I guess?) are using old heap_2 algorithm from RTOS instead of new heap_4.c algorithm and Heap_2 is not able to merge adjacent blocks
https://cdmana.com/2022/03/202203310754244532.html
![image](https://user-images.githubusercontent.com/85486843/195006250-f2dc04cb-aef1-407a-a407-5ffdad103ce7.png)
someone would need

[2022-10-11 05:50] esnet146 opened #272 "Low level on the wifi signal receiver."
Tested on firmware 75 and 101.
RGBCW Lamp
Module WBLC9 (BK7231T) + BP1658
https://developer.tuya.com/en/docs/iot/wblc9-module-datasheet?id=K9hgglry2jp5h
uses an Onboard ceramics antenna
The factory program has no problems, there is a complete dump of the flash memory.  wifi and bluetooth work well
Оn the OpenBK7231T firmware, the wifi signal level at a distance of 1 to 2 meters drops from -77 dB t

[2022-10-11 07:18] fjuliofontes commented on #258
Sorry guys for the late response.
The version that I have:
Build on Sep 1 2022 06:04:47 version 1.12.44
And yes, I'm using MQTT. I have a local broker on the network.

[2022-10-11 07:22] fjuliofontes commented on #258
Just updated to the latest version: Build: Build on Oct 11 2022 05:42:17 version 1.12.103. Let's see if the problem persists.

[2022-10-11 07:30] blind-coder commented on #110
There's a Windows program called Termite that can convert to hexadecimal code directly. Try that, and if the codes you see start with 55 aa then it's certainly a TuyaMCU on those pins.

[2022-10-11 09:26] openshwprojects commented on #204
I don't know, @valeklubomir , but after just removing unnecessary publishes for raw values of each of 5 PWMs, the RGBCW N lamp does not even disconnect:
![image](https://user-images.githubusercontent.com/85486843/195052439-af397713-3e23-4533-8c8d-7f3a79cf70e7.png)
I will try to add some script that forces a dummy publish every frame with an artificial payload and check again. I wonder if MQTT is n

[2022-10-11 09:33] valeklubomir opened #273 "TuyaMCU driver - configuration steps"
I received new device:
![image](https://user-images.githubusercontent.com/71550793/195050621-45b320db-80e1-4acf-ae47-4a23f9483351.png)
![image](https://user-images.githubusercontent.com/71550793/195050905-13f0d9c1-c8f9-46b1-b310-235501a5aa5b.png)
Touch panel (1-gang) with CB2S module. Connected via serial line TX1,RX1 only.
Even chips are sanded and no identification is possible, with reading seri

[2022-10-11 10:57] btsimonh commented on #273
yes, in tas we had some evil Tuya MCUs which would die and stay dead until power cycle if treated just a little badly in terms of protocol.
Search btsimonh tasmota and look for my Tuya branch for the complete rework, still not pushed on Tas.
Devices we had issues with were touch dimmers; chip ids sanded off.

[2022-10-11 11:07] valeklubomir commented on #273
This device report version 0. Some basic version.
I connected it to ESP32 and done some custom communication test.
So far I detected:
DPID 1 -> BOOL : relay
DPIP 7 -> integer : Toggle timer, can be used for timed switch OFF.
And wifi state command can be set according to protocol and I can get the LED flashing when connecting to Wifi and MQTT server. And state when it show RELAY state when connect

[2022-10-11 11:19] valeklubomir commented on #204
@openshwprojects I'd like to know reason why connection was lost. Was it device, was it server?
This way we are just flying blind and hope we hit something.
Logs from MQTT and Device would definitely help.

I have (1.12.75 - 5 days, 1.12.98 - 1 day, latest version testing on Touch switch)
My devices are now stable enough that I can use them on my wife. I keep them on web browser 24/7.
And she gets

[2022-10-11 11:21] openshwprojects commented on #273
I'd guess you need to find a proper packet here:
https://images.tuyacn.com/smart/aircondition/Guide-to-Interworking-with-the-Tuya-MCU.pdf
and set it to put device into non-pairing mode (tell the device that's it paired to it can stop blinking)

[2022-10-11 11:26] valeklubomir commented on #204
@openshwprojects I was on-purpose sending messages from MQTT server to toggle relay every 2 secs for more than 2 days.
Logs showed >100 000 messages, with no reconnect. With less communication I have more reconnect. Strange?!?!

[2022-10-11 11:37] valeklubomir commented on #273
How to setup start command with multiple commands?

"startDriver TuyaMCU; setChannelType 1 toggle; linkTuyaMCUOutputToChannel 1 bool 1"

[2022-10-11 12:30] openshwprojects commented on #273
might need to do that behaviour active by default, without 'backlog', if i remember it was @btsimonh  decision to make backlog required

[2022-10-11 12:34] btsimonh commented on #273
for the startup command line, no reason not to process it through the backlog function by default - as long as existing command lines with backlog at the start don't break!

[2022-10-11 13:25] #273 closed

[2022-10-11 13:50] openshwprojects commented on #273
@valeklubomir , if you get that one running, could you post at least few photos + config to our forum, Elektroda.com, teardowns section? Then we can add it to our online devices database

[2022-10-11 14:20] analystcmyk commented on #156
Yes, this is solved, thank you.

I have tested this device also to check if it supports reverse power ( i.e. when connected to grid tied inverter).

Indeed it will report reverse power the same way as for forward power.

[2022-10-11 14:20] #156 closed

[2022-10-11 14:27] analystcmyk commented on #212
I think that every second is already very precise.

A setting like "Cumulative power samples per minute" [0-60] with 0 = disabled would be great.

Even fixed to 60/min would be fine, unless it would take too much processing.

[2022-10-11 14:46] Pieter12345 commented on #271
That is unfortunate. I did find quite a bit of useful information about the LB602 boot2 bootloader [here](https://lupyuen.github.io/articles/boot), but I unfortunately am not prepared to put in the time I would need to get up-to-date with the topic and write a working implementation for this.

[2022-10-11 15:19] #272 closed

[2022-10-11 15:20] esnet146 commented on #272
hardware problem

[2022-10-11 17:51] openshwprojects opened #274 "[Demo for devs] Fetching devices information from our database"
I have created a simple demo of accessing our devices database.
Here is live demo:
https://openbekeniot.github.io/webapp/examples/devicesListDemo1.html
Here is source code:
https://github.com/OpenBekenIOT/webapp/tree/gh-pages/examples

I will most likely create some more advanced demos, but maybe is there already someone who likes Javascript and is willing to help us with doing devices database fr

[2022-10-11 19:21] euro2 commented on #258
i have them go offline as well. Home assistant says so. Once i activate the switch, its back

[2022-10-11 21:44] iprak commented on #258
HomeAssistant uses the `availability` topic to determine switch's state. Currently, thi message is only sent out once in mqtt_connection_cb, so HomeAssistant does not know the state of the new switches.

For HomeAssistant integration to succeed, the device status should be routinely transmitted. This is not just for connected status but also for the various device parameters as switch state, dimme

[2022-10-12 06:38] openshwprojects commented on #274
I am on it, wait
![image](https://user-images.githubusercontent.com/85486843/195268214-566c7617-a566-4665-8b59-fd1800887a78.png)
will upload ademo soon

[2022-10-12 07:39] openshwprojects commented on #274
Getting here:
![image](https://user-images.githubusercontent.com/85486843/195280355-1f62e8cd-0969-4c56-a34b-057b47ac77aa.png)

[2022-10-12 08:05] openshwprojects opened #277 "WebApp logging level select combobox does not affect internal logging level"
@btsimonh , is this intended?
![image](https://user-images.githubusercontent.com/85486843/195286094-22d12890-7c51-4106-9e9c-1d866e9dc20e.png)
![image](https://user-images.githubusercontent.com/85486843/195286165-c1a6165f-5743-4804-af0f-39a809fbc886.png)

EDIT: if you select DEBUG in App but have INFO in C code you still don't get debug logs. You must use "loglevel 4" comman.

[2022-10-12 08:07] openshwprojects commented on #94
@l3ztum  @JanKiel2000  can you check now? it was most likely fixed with LWIP update

[2022-10-12 12:22] iprak commented on #262
@openshwprojects Isn't publishAll and publishChannels reversed?

[2022-10-12 13:42] iprak commented on #277
Would it make sense to limit logging for web on presence of an active connection ?

[2022-10-12 13:58] openshwprojects commented on #277
I am not sure if I understand the question.
I just think that changing LogLevel on WEB should send a "loglevel" command to device...

[2022-10-12 15:05] iprak commented on #277
Never mind: Yes but I was thinking that that webApp is used to set the device and then probably never accessed. So logging into the buffer can be avoided. But we are just logging into a static buffer in cyclic manner so that cost is non-measurable. But I just realized that rowLog is fetched from webApp and not pushed so we are not just dumping log somewhere.

[2022-10-13 02:06] iprak commented on #277
Since you are touching logging, do you recall if we need the semaphore in `addLogAdv`? Its status is not checked in that function. Same question for `getData`.

[2022-10-13 04:03] openshwprojects opened #279 "HA discovery wrong for two PWM lamp with Brightness & Color Temperature"
According to this user:
https://www.elektroda.com/rtvforum/viewtopic.php?p=20233683#20233683
the generated config looks wrong.
1. It outputs devname/1/set/ and /1/get topics, while they should be hidden and are for internal use only
2. it outputs led_dimmer command but no led_temperature command
If I look at the code, it indeed seems like a problem:
![image](https://user-images.githubusercontent.c

[2022-10-13 07:15] btsimonh commented on #263
Notes:
e.g. if we used
https://github.com/Arduino-IRremote/Arduino-IRremote/tree/master/src

For receive, we need an ISR running at 50us intervals.
It looks like the bk_timer would do this, but we should test by making an interrupt counter and reporting the count.
It looks like we have 6 timers (0-5).  I would assume that these are also used for PWM, so for my RGBWW which uses 5 x PWM, that leaves

[2022-10-13 07:35] DSchndr commented on #215
Sorry, since uni started I don't have a lot of time

Doesn't seem to be tuyamcu protocol, but seems to be something simple to implement, uart seems to run at 115200 baud

0x11 0xff 0xff 0xff -> Keepalive from mcu?
0xCC (static) 0x?? (button) 0x?? (state)

Do you have logs from changing states from the tuya app too?

[2022-10-13 08:46] openshwprojects commented on #262
@iprak  wow nice spot, it seems indeed that true and false are swapped

[2022-10-13 09:29] mkjustuk commented on #234
Yes, I'm more than happy to help with this.  I have a reasonably decent voice-over voice having done a fair bit of radio presenting when I was younger.

[2022-10-13 09:47] mkjustuk commented on #108
If I can help I'd like to, shutter/curtain support in OpenBeken would be a massive step.
I have this unit and a motor and switches to test the whole setup.

This is a 2CH version, so has 4 relays and four switch outputs.

Link: [https://www.aliexpress.com/item/1005003661384708.html](https://www.aliexpress.com/item/1005003661384708.html)
Module: CBU - BK7231N - 7ori

I have several Tasmotized ESP b

[2022-10-13 09:47] btsimonh commented on #234
@mkjustuk - consider using [Stellar](http://www.yellaumbrella.tv/stellar-2-home-page/) (go to the bottom to sign up, no credit card required)  to voice it.
As the owner of YellaUmbrella, I can drop credit into your account to cover these jobs - although the €20 free should more than cover it.
(Stellar enables you to record snippets for voiceover against an AV track, and when happy, mix with the or

[2022-10-13 11:47] euro2 commented on #225
Ok its firefox. At least for version 105.0.3 64bit.
Installed Chromium and no lag whatsoever.

[2022-10-14 05:26] talltechdude commented on #222
I've added the W600 platform to the auto-build and release config https://github.com/openshwprojects/OpenBK7231T_App/pull/281 ready for merge.

@iprak had already done 90% of the work getting the SDK to compile nicely with a makefile!

[2022-10-15 11:32] iprak commented on #279
The current discovery for 1-2 PWMs is based on existing hass config generation.

I agree it makes sense to use `led_enableAll`, the function `apply_smart_light` seems to handle that. The direct `set/get` are only for relays.

* Would `led_enableAll` handle just one PWM?
* How do we know that `temperature` is supported with PWM? Is the assumption that 3 or 5 PWM would be using temperature not corre

[2022-10-15 21:50] dwildstr opened #286 "BP5758D SetCurrent doesn't work right for currents above 63"
Someday I suppose I should get a clue about how to push to git workflows so I can open these code submissions as pull requests rather than issues, but today is not that day.

The BP5758D uses a slightly strange byte-encoding when setting current. The high bit is ignored, and the low 6 bits are (as might be expected) of value 1, 2, 4, 8, 16, and 32, so currents up to 63mA can be passed uncritically

[2022-10-16 06:48] Bacto commented on #218
Hi,

I've just flashed a LSC dimmer switch.
I've let the module soldere on the PCB.

I've soldered my USB <=> Serial converter to VCC (3.3V), GND, TX1 and RX1.
I have soldered a wire to the RESET pin.

Then:
- Put the RESET wire on GND
- Start the flashing process
- Remove (very fast) the RESET wire from GND

It worked like a charm.

[2022-10-16 07:41] openshwprojects commented on #286
This is of course a good change, but I wouldn't call the original behaviour a bug or say that it "deoesn't work", because it was assumed that user enters a correct value from datasheet, and not a numerical value of current.

I can add that fix you made, but what about the other I2C LED drivers, don't they need the same or similar approach?

[2022-10-16 08:39] homuser2003 opened #288 "IR Blaster BK7231T (S06Pro)"
Good morning,

I managed to change the firmware to OpenBK7231T_UA_1.14.3.bin. It´s up and running.

However, it appears that the IR sending and receiving ressources are not part of the package. I´m sure it´s in the instructions how to add these, and it´s probably just beyond me. Any guidance would be highly apprechiated. I´m a copy and paste programmer only but based on good instructions that took

[2022-10-16 09:03] openshwprojects commented on #288
@btsimonh is on it right now, isn't he?

[2022-10-16 10:31] openshwprojects commented on #109
I think that @talltechdude tested this code and made some good adjustments, so now I can close this issue.

[2022-10-16 10:31] #109 closed

[2022-10-16 11:04] Bacto opened #291 "LSC Smart Dimmer Switch"
Hi,

First I want to thank you for the amazing work done here!
I'm super happy to see that we can now use new Tuya devices :)

I have bought a LSC Smart Dimmer Switch (same as https://github.com/openshwprojects/OpenBK7231T_App/issues/218#issuecomment-1265374143).
It is a wall switch, working on a battery consisting of:
- A WB3S module
- A Tuya MCU with no reference written
- A rotary switch
- 2 LE

[2022-10-16 11:44] openshwprojects commented on #291
Hey, I'll look into it right now.
From what I see...
![image](https://user-images.githubusercontent.com/85486843/196033425-228b699b-fcca-4b1a-8a04-3068812218a6.png)
the 00 03 and 00 05 are the byte lengths of data of 0x02 packet, but I am not sure what the data is yet.

You have a batter powered device. It should follow this protocol:
https://developer.tuya.com/en/docs/iot/tuyacloudlowpowerunivers

[2022-10-16 11:48] valeklubomir commented on #291
Protocol description:
[https://tasmota.github.io/docs/TuyaMCU/#dpid](url)
[https://developer.tuya.com/en/docs/iot/mcu-protocol?id=K9hrdpyujeotg](url)
dpID must be identified and assigned to channels.
MCU CONF should list all available DPs.

[2022-10-16 11:58] openshwprojects commented on #291
@valeklubomir the linked example has ver 00 and 03 and the user posted data with ver = 01
![image](https://user-images.githubusercontent.com/85486843/196034101-d1df5db7-af26-4d88-b0c0-d995e4898bd3.png)
I need to get the meaning of those ebytes:
![image](https://user-images.githubusercontent.com/85486843/196034127-4656f65d-067d-460e-8165-cf37ede9da97.png)
Do you happen to know them, or are you sayi

[2022-10-16 12:04] dwildstr commented on #286
Fair enough on the distinction between not-working and working intuitively; certainly currents from 64 to 93 are obtainable with the established behavior, and I suppose the established behavior is good if someone wanted (for some esoteric reason) to send the BP5758D specifically the unconventional codings of numbers from 30 to 63, but this change will forestall the question "why does setting the c

[2022-10-16 12:06] openshwprojects commented on #291
Not sure right now. I will also add an ability to fire events when a given UART hex string is received, as a flexible work around, at least temporary.

[2022-10-16 12:34] openshwprojects commented on #286
I have added your suggestion to the codebase:
https://github.com/openshwprojects/OpenBK7231T_App/commit/971ac49c55e8613ea59b91c32c5df1feba502524
The only drawback is that if someone had it configured in the oldest version, he will have to reconfigure...

[2022-10-16 12:35] openshwprojects commented on #279
@iprak  led_enable handles one PWM well, I have single color LED strip on T and it works well with led_enableall

Temperature... well....
The assumption currently is: 2 PWMs = temperature supported (white cool and warm)
5 PWMs = temperature supported (white cool and warm and RGB)

[2022-10-16 13:06] valeklubomir commented on #291
Protocol version 2 is just another version, but structure can idetified.
dpID: FF seems to by type bool and would represent two transitions PRESSED and RELEASSED.
dpID: 01 has 2 unknown types 09 and 24. In case of rotary switch: 24 could be direction, 09 step count since last message.

This would require much more data to processas

I have implemented flowchart behavior from protocol and it will r

[2022-10-16 13:14] valeklubomir commented on #291
Also strange version of TuyaMCU, are really events are processed as MCU CONF. I would presume 0x06 state message.

[2022-10-16 13:54] Bacto commented on #291
Thanks to both of you for all these informations :)

@openshwprojects:

Having the ability to fire events depending of UART hex strings received could be great!

About the battery, yes the MCU can turn off the power (VCC) of the WiFi module. It cuts it after ~5 seconds.
I suppose there is a command to send to the MCU to keep the power on? I haven't found any information in Tuya documentation about

[2022-10-16 14:29] valeklubomir commented on #291
@openshwprojects
Button: looks like toggle function.
Rotary: Have you tried quick rotate? I presume some kind of logic when rotary is moved more the one tick between UART packets.  Some kind of buffered changes........

I am sorry, Since I do not have device I can help only with suggestions

[2022-10-16 14:31] openshwprojects commented on #291
@Bacto , since you seem to have some good quality photos, can you post a teardown article here (info where to buy, how to flash): https://www.elektroda.com/rtvforum/forum507.html
so we can latest add it to our online devices database:  https://openbekeniot.github.io/webapp/examples/devicesListDemo2.html
Thanks in advance.

The UART handler was added to code in last commit, but not tested yet.
Here

[2022-10-16 15:58] homuser2003 commented on #288
Posted the teardown - will add a few details later

[2022-10-16 17:55] Bacto commented on #291
@valeklubomir I have to check about quick rotation. I'll let you know.

@openshwprojects teardown article posted :)
https://www.elektroda.com/rtvforum/viewtopic.php?p=20239100#20239100

Thanks for the code examples. I'll have a look at them!

@valeklubomir & @openshwprojects , I can send you a device if you're in a country where it can be send easily (I'm in France).
Would you be interested and if

[2022-10-16 19:37] openshwprojects commented on #291
@Bacto  I'm in Poland, not that far away. But it would be also nice if you had an original firmware backup so we can sniff the communication from Tuya. It could help a bit. But maybe that's not needed, and we can just set the triggers based on UART content instead of parsing the UART data. By the way, it's the first time I see a WiFi and battery powered dimmer.

[2022-10-16 19:53] Bacto commented on #291
I'll probably not have the time for the next 2 weeks to work on it but ASAP I'll try the command "startDriver tmSensor".
During this 2 weeks I'll probably go to Action to buy a new one, with the original firmware.

If you're interested I'll send it to you :)
Let me know if you are also interested by other LSC products I can find at Action France:
https://www.action.com/fr-fr/search/?q=lsc+smart

[2022-10-16 20:39] valeklubomir commented on #291
@Bacto I'm in Slovakia. Found an Action shop in Austria(Kitsee). if I have trip to Bratislava I can make side jump and check.
Also I have ordered multiple devices from aliexpress, a lot of hacking to do.
At moment I have 4x BK7231N device to test on and 2x ESP8266.

But I would still like to see some UART communication.

[2022-10-16 23:11] iprak commented on #279
I have it all working, just doing a bit more testing. I will push it out after #292.

I discovered 2 problems. First was that led_enableAll usng 1/0 and so the on/off payload needs to use 1/0. Second, the on_cmd_type=brightness does not work with OBK. As per https://www.home-assistant.io/integrations/light.mqtt/, homeassistant only works with `brightness` value in that case and OBK does not handle

[2022-10-17 04:52] openshwprojects commented on #291
@valeklubomir I've been doing some research on the similiar Battery Powered Device, but it followed the protocol (version 0) from Tuya docs, it was not a ver 1 like here. Still, I documented it here:
https://www.elektroda.com/rtvforum/topic3914412.html

@Bacto i could send you my address on Elektroda PM, but first I'd need to check the Action store in Poland. Shipping cost may be higher than the d

[2022-10-17 07:18] gboulvin opened #294 "[MQTT] Publish on /state topic"
Hi,
Great work!
Is it possible to publish on /state MQTT topic instead of /set or /get ?
I want to integrate an Aubess 16A plug in [Gladys Assistant](https://gladysassistant.com/) but it needs to be on that format.
Actually, they work with [two topics](https://gladysassistant.com/docs/api/mqtt-api/)  (one to publish and one to subscribe), a little bit like Tasmota does.

[2022-10-17 09:22] openshwprojects commented on #294
Hey, hello, I'm glad that you're interested in my software.
I can implement any publish format you want, as long as you provide me SPECIFIC information what and how must be published.
Then I will make it possible to enable this format by setting a certain flag.
So, can you tell me what kind exactly of MQTT message format you  need, so I can try to implement it? Can you provide sample messages that

[2022-10-17 16:17] saper-2 commented on #212
This can be kept in one variable - well 2: one for front-end (user) , another for internal counter. Just increment internal-value by power value that is read from chip, and once in hour (e.g. counting from power-on) divide the internal-value by amount of reads/per-hour.

[2022-10-17 17:09] saper-2 opened #295 "[Feature Request] MQTT: custom base topic"
Hello,

Is possible to set custom MQTT "base topic" ?

For now all MQTT is going under topic ```/<client-id>/...``` , but I want it to go under e.g.: ```/the/my_custom/base/topic``` , so assembled topics would looks like:
[code]

To add this functionality:
1. create a setting (under MQTT) "Base Topic", char[31] - should be sufficient, and store this with other settings,
2. In line https://github.c

[2022-10-17 17:23] openshwprojects commented on #295
Hey, we can do this, but since you already proposed a solution, maybe just create a pull request and I will integrate it?

This is a good feature.

[2022-10-17 20:08] openshwprojects opened #298 "[solved & testing needed] realloc seems to be broken on T platform, but works on N"
I have never used realloc on OBK before, but it seems like it's broken on T platform.
realloc is used cJSON_Print, and it hangs device where realloc is called.
As a workaround, I disabled all reallocs calls in cJSON on T platform:
https://github.com/openshwprojects/OpenBK7231T_App/commit/a88140c583a4193b3659da26c1d041b3fc9c1dcb
And here I added some test console commands:
https://github.com/opensh

[2022-10-18 02:54] iprak commented on #295
We would want to make sure that the buffers involved are big enough to hold the additional base topic.

[2022-10-18 03:13] iprak commented on #298
I think I might have into something like this which is why I switched to `cJSON_PrintPreallocated`.

[2022-10-18 05:43] gboulvin commented on #294
Hi,
The easiest way to integrate the device with your firmware in Gladys Assistant would be to use the same format as Tasmota's MQTT.
The Tasmota integration available in Gladys Assistant uses Tasmota's payload format and topics so
3 topics (cmd, stat, tele) [Here](https://tasmota.github.io/docs/MQTT/#fulltopic) , prefix (custom?) and payload as [Tasmota's ](https://tasmota.github.io/docs/JSON-Sta

[2022-10-18 05:52] saper-2 commented on #295
Hi,

I noticed it, I think I saw this with get topic - there is calculation of buffer done with some "hard" coded lengths. This is something that need attention too while writing changes/code.

For now, I'm not up to the task 😉, I have other things to take care of after work. Also setting up env for building will take me a bit of time, since I never touched this bkt chips.

[2022-10-18 06:21] openshwprojects commented on #295
@saper-2  would a support of using a custom base topic made from macro be fit your needs?
Something like:
CustomBaseTopic = myTopic1 is without macro
CustomBaseTopic = %SDI% is a short device id
CustomBaseTopic = myTopic1/smth/%SDI% will get expanded to myTopic1/smth/obkF3242 etc

[2022-10-18 06:59] sstudent commented on #215
Here you have logs when I switch off and on the curtain from the smartlife app.
Is sims to be empty.
[logs_smartlife.zip](https://github.com/openshwprojects/OpenBK7231T_App/files/9807246/logs_smartlife.zip)

[2022-10-18 11:33] iprak opened #299 "New build errors/warnings"
@valeklubomir #293 introduced some build errors. @openshwprojects I am surprised that commit hook did not catch that.

1. The first param is incorrect
[code]
https://github.com/iprak/OpenBK7231T_App/blob/5a82465b828c08e588d19da1e0ef61ae32684ca0/src/driver/drv_bl_shared.c#L80

2. This line feels incorrect. It should be comparing, right?
[code]
https://github.com/iprak/OpenBK7231T_App/blob/5a82465b8

[2022-10-18 11:37] openshwprojects commented on #299
@iprak huh thanks, you are quick, there were indeed silly mistakes.
The hprintf128 is on my side, and the statsEnable = true must have been @valeklubomir , I already had a "wtf" moment few hours ago where the stats system was started despite me changing the initial value to false, and now I see why it was started! Thanks.
Ref 1 and 2 - fixed, 3 - wait let me check docs

[2022-10-18 11:55] iprak commented on #299
Sounds good. I was just doing a final build check before pushing.

[2022-10-18 12:03] #299 closed

[2022-10-18 12:40] iprak commented on #277
Are you sure this is a bug? When I select Log Level, I see matching commands being sent out.
![image](https://user-images.githubusercontent.com/6459774/196431100-89093c23-4273-4ec8-8262-f7875bff39ed.png)

I also noted Debug logging statements with Debug Log Level

[2022-10-18 14:26] DSchndr commented on #215
Wierd, have you connected both UART lines to the Logic Analyzer?

[2022-10-18 14:29] sstudent commented on #215
Only tx. Rx should be also conected?

[2022-10-18 15:06] DSchndr commented on #215
Yes, since you need both the data that gets sent as well as received (on both sides)

[2022-10-18 18:54] iprak commented on #298
Do you know where FIX_REALLOC_ISSUE might be getting set? https://github.com/openshwprojects/OpenBK7231T/blob/eaf4e1a606571b9f13d9c933da61670c712a6c8d/platforms/bk7231t/bk7231t_os/beken378/os/mem_arch.c#L30

[2022-10-18 19:28] openshwprojects commented on #298
@iprak , I don't know, but this is a good find. I didn't see it before. Maybe FIX_REALLOC_ISSUE is defined on N but not on T?

[2022-10-18 19:36] iprak commented on #298
That function for N seems to be similar but there are other difference in the file itself. But still it might be worth a try.

[2022-10-18 22:00] sstudent commented on #215
Nothing there on both Tx or Rx, when I turn on the curtain from smartlife app (everything works). Only when I push physically the button logs are ok. Can you make software for tests?

[2022-10-19 01:49] iprak commented on #295
I do not think this will work with OpenBK because the status and cmd are on different root topics. I think what was being asked wa something like this where status and command are based on the pre-defined root topic.
![image](https://user-images.githubusercontent.com/6459774/196578185-d61cdcca-c2c1-48aa-b0a4-55ec08d84764.png)

[2022-10-19 08:34] DSchndr commented on #215
Need device to reverse engineer how it works and test, sorry

Cant do anything since I have no plan on how that thing works.
You could try to find out how the wifi module is connected to the rest and document it though

[2022-10-19 09:58] valeklubomir opened #301 "Git conflict"
file src/driver/drv_ir.cpp is not compiled
Debug/obj/drv_ir.cpp: No such file or directory

clean erases this file and compilation if successful, but git status report deleted file.

Extension CPP somehow is not considered as source file.

[2022-10-19 10:01] btsimonh commented on #301
yep, working on it.
see https://github.com/openshwprojects/OpenBK7231T_App/pull/281

[2022-10-19 10:02] btsimonh commented on #301
p.s. for local T dev, ensure to pull latest T SDK.

[2022-10-19 10:29] valeklubomir commented on #301
I am working with N version. Don't have any T device to work with.
Can you not rename it simple C?

[2022-10-19 10:39] openshwprojects commented on #301
IRRemote is a C++ library. Someone needs to backport those C++-enabling changes to N:
https://github.com/openshwprojects/OpenBK7231T/commits/master
@btsimonh  might do it later?

[2022-10-19 10:41] btsimonh commented on #301
looking at it quickly now.
@valeklubomir - I'll point you to a branch to test, may be a few minutes...

[2022-10-19 10:42] valeklubomir commented on #301
When I delete drv_ir.cpp N build works.
No need to hurry. I keep in mind that not to commit deletion to git.

[2022-10-19 10:50] openshwprojects commented on #301
@valeklubomir  I am afraid that my next commit will break your compilation, unless you comment out IR line here:
![image](https://user-images.githubusercontent.com/85486843/196671440-59448322-9c11-4edc-a088-f8beba469098.png)

[2022-10-19 10:55] valeklubomir commented on #301
Link it to T version only
#if PLATFORM_BK7231T

[2022-10-19 10:59] btsimonh commented on #301
@valeklubomir -
please can you test the mods in the SDK here:
https://github.com/btsimonh/tuya-iotos-embeded-sdk-wifi-ble-bk7231n/tree/AddCPPSupport

[2022-10-19 11:20] valeklubomir commented on #301
tuya-iotos-embeded-sdk-wifi-ble-bk7231n/platforms/bk7231n/bk7231n_os/beken378/func/lwip_intf/lwip-2.1.3/port/ethernetif.c:140: undefined reference to `CFG_GetDeviceName'

[2022-10-19 11:37] openshwprojects commented on #301
@valeklubomir  don't you need to do the same as me before, the update-submodules?

[2022-10-19 11:40] btsimonh commented on #301
deleted from debug?  or deleted from source folder?
It could be that the stuff from the previous (bad) build in debug caused a problem...
I hate the way they have done that....

[2022-10-19 11:45] valeklubomir commented on #301
Deleted from source directory by clean command.

[2022-10-19 11:52] valeklubomir commented on #301
When I checkout fresh OpenBK7231T_App from git into app/OpenBK7231N_APP and execute script ./b_rebuild.sh
It resulted with:
arm-none-eabi-gcc: error: Debug/obj/drv_ir.cpp: No such file or directory

src/driver/drv_ir.cpp is in the repositiory.

When I execute script: ./b_full.sh
which first call clean, then the build is successfully completed and binary is created.

after this src/driver/drv_ir.cp

[2022-10-19 11:57] openshwprojects commented on #301
I pushed some fixes and warning removal (not all yet).

@valeklubomir , depending whether we can resolve N build, I might make IR driver T-only so you don't have troubles compiling..

At the current state of things, the local Windows PC build works for me for T platform, while building with cygwin.

[2022-10-19 12:02] btsimonh commented on #301
please can you check that application.mk definitely includes the line:
SRC_CPP += $(foreach dir, $(TY_SRC_DIRS), $(wildcard $(dir)/*.cpp))

remember, for local build, you probably have the SDK in use being outside of the OpenBeken folder:

![image](https://user-images.githubusercontent.com/3137332/196685144-1cf6b4fd-3917-4940-9ed3-e6b61212e47a.png)

NOT the SDKs inside the app folder?

[2022-10-19 12:09] valeklubomir commented on #301
No entry in any SDK
openshwprojects/OpenBK7231T
openshwprojects/OpenBK7231N
btsimonh/tuya-iotos-embeded-sdk-wifi-ble-bk7231n/tree/AddCPPSupport

[2022-10-19 12:12] btsimonh commented on #301
https://github.com/btsimonh/tuya-iotos-embeded-sdk-wifi-ble-bk7231n/blob/AddCPPSupport/platforms/bk7231n/bk7231n_os/application.mk

line 1106?

[2022-10-19 12:18] valeklubomir commented on #301
Needed to checkout diffrent branch.
Now it works correctly

[2022-10-19 12:20] btsimonh commented on #301
we got there in the end :)  thankyou for your patience!

[2022-10-19 12:23] valeklubomir commented on #301
@btsimonh I ment your repos.
Original I receive
Debug/obj/drv_main.o:(.data.g_drivers+0xc4): undefined reference to DRV_IR_Init' Debug/obj/drv_main.o:(.data.g_drivers+0xc8): undefined reference to DRV_IR_RunFrame'
collect2: error: ld returned 1 exit status

[2022-10-19 12:28] btsimonh commented on #301
I think this is WIP ref @openshwprojects - i.e. although the functions are in the drv_ir.cpp, I suspect he needs to add N platform to enable them for you too.  (look at #defines?).  Just shut down my OpenBeken dev laptop.... so can't check.

looking direct at github, the whole file has #if PLATFORM_BK7231T around it.

try:

#if PLATFORM_BK7231T || PLATFORM_BK7231N

that may work :).

[2022-10-19 12:29] btsimonh commented on #301
or
#if PLATFORM_BEKEN

[2022-10-19 12:49] openshwprojects commented on #301
I was out for a 15 minutes or so, @valeklubomir  if that's a fix can you submit a pull request?

[2022-10-19 12:51] btsimonh commented on #301
"removed #if PLATFORM_BK7231T from drv_ir.cpp"
it probably needs
#if PLATFORM_BEKEN
else other builds may break.

[2022-10-19 13:17] #301 closed

[2022-10-19 13:40] btsimonh commented on #91
For those following this topic, it's almost ready :).

[2022-10-19 13:43] btsimonh commented on #263
For completeness:
We have implemented a 50us timer, added C++ to T and N, and used a modified arduino-IRRemote library.
All is looking good so far.

TX may have up to 50us of jitter on the ends of pulses, because it's controlled from the 50us timer.  I don't think this will affect operation, but testing and reliability to be checked.

[2022-10-19 18:13] bonuzzz opened #306 "Tuya g9 bulb"
It was tuya g9 bulb from aliexpress. Please, help me to recognize this board. I'm 99% sure it is openbeken board as tuya-cloudcutter works there. I want to dump firmware, but I can't recognize board. Pins depend on it
Thanks in advance
![2022-10-19 21 09 22](https://user-images.githubusercontent.com/6509127/196771815-606198cf-fa50-45af-9f8c-fc67ba2d131b.jpg)

[2022-10-19 19:32] bonuzzz commented on #306
Seems it is bk7231n, but without soldered pins... Only now I notice this board doesn't have opened pins. To be honest, I have not idea how to flash it in this case

[2022-10-20 03:50] openshwprojects commented on #306
What is written on QFN chip? I can't see well. What is the chip name?

[2022-10-20 08:10] l3ztum commented on #94
@openshwprojects seems to be stable for a longer period of time, but still failed after a few days
i'm going to hook up the logger once again to provide a detailed error log

[2022-10-20 09:31] iprak commented on #279
This was addressed in #300, please check.

[2022-10-20 10:18] #222 closed

[2022-10-20 10:19] iprak commented on #199
This was addressed in https://github.com/openshwprojects/OpenBK7231T_App/pull/276.

[2022-10-20 10:19] #199 closed

[2022-10-20 10:22] iprak commented on #138
@dstreefkerk This should no longer be an issue, please check.

[2022-10-20 11:07] Handy-E opened #310 "Config IRRecv for Pin results in broken device, BK7231N"
Tried the new OpenBK7231T release 1.14.34 because I own a RGB-LED-stripe with WIFI and IR. Module is ([CBU](https://developer.tuya.com/en/docs/iot/cbu-module-datasheet?id=Ka07pykl5dk4u)) with BK7231N.
The IR-receiver seems connected to Pin1 of the Module. According to datasheet this should be pin P14.
Setting P14 to IRRecv in WebGUI results in broken Chip after Restart. No WebUI, no AP, no Wifi, n

[2022-10-20 11:29] bonuzzz commented on #306
t34
2124k8wyn
x00leb

[2022-10-20 13:32] openshwprojects commented on #310
I havent tried N platform yet, but but.... @Handy-E , are you really sure about that flashing non-IR version? I'd assume that Safe Mode would still be working and the IR driver would not start in Safe Mode, so you can easily recover device without reconnecting the flashing wires...

[2022-10-20 13:39] Handy-E commented on #310
As I wrote, tried release 1.14.34, cannot find a newer one currently!
As "initial" version (non-IR) I used "OpenBK7231N_QIO_1.14.13.bin".
Prehaps I tried not hard enough for SafeMode ;-) How often do I have to reset? Readme says "If you power off and on device multiple times". What means "multiple" here ?
Thanks in advance! Good work, still!

[2022-10-20 13:41] btsimonh commented on #310
5 times worked for me today :).  then it makes 192.168.4.1 ....
May be good to get a serial log of boot and non-boot.

[2022-10-20 13:44] Handy-E commented on #310
Will try. TX2 and RX2, right? Baudrate?

[2022-10-20 14:26] btsimonh commented on #310
what's the temperature stuff about?  should not have that for an LED strip?  Odd...
The IR driver is scheduled to start after 5 seconds.  hence last log is at 4.
To me, it would seem that the N driver for bk_timer is somehow hooked up to some adc driver designed to read temperature.
Unless you want to dig in the N SDK, we should abandon on N until someone has worked it out....
possibly search for

[2022-10-20 14:43] Handy-E commented on #310
I did not configure anything to ADC, just IRRecv ;-)

Overtemperature-protection ???

possibly search for bk_timer and adc_trend?

Sorry, my knowledge to C\C++ is limited.

[2022-10-20 17:22] saper-2 commented on #295
Yes, exactly 😄 , so I could set a ```root-topic``` like @iprak  named it.

I think it would be wiser in this case to go completely into "tasmota style" where we can define how the whole topic would we want to look like.

----

### Here I will give a brief explanation about tasmota topics/prefixes and sub-topics 😉
This is just for "reference" , I know implementing this would require a lot of time,

[2022-10-20 20:29] leoshusar opened #311 "EDM-01AA-EU dimmer blinking"
Hi! I've just flashed my EDM-01AA-EU TuyaMCU dimmer and used [this](https://templates.blakadder.com/unsupported/eardatek_EDM-01AA-EU.html) Tasmota template.

It works fine, but when I turn it on, the whole brightness bar blinks like 2 or 3 times per second, I can even set brightness physically while it's blinking, so it's not blocking anything.
It shouldn't be pairing mode, because that's only sin

[2022-10-20 22:43] leoshusar commented on #311
It... fixed itself while messing with MQTT.
Then I tried to power cycle it, it was blinking again but after toggle off and on it stopped.

[2022-10-20 22:43] #311 closed

[2022-10-21 03:47] openshwprojects commented on #306
Where to buy this bulb? I could try to solder very small wires to pads, @bonuzzz
@ferbulous  I think he doesn't have a profile, he just thinks that cloudcutter could help

[2022-10-21 06:23] esnet146 opened #312 "SM 2135 - insufficient brightness in the channels CW"
Is the current set correctly for CW channels?

in description max current 60ma
https://github.com/arendst/Sonoff-Tasmota/files/3656603/SM2135E_zh-CN_en-US_translated.pdf
OUT4 / OUT5 Output current I  60 mA

[2022-10-21 07:27] btsimonh opened #314 "Exec of a file kills T on next Wifi stat display"
I created a file IR.txt containing

[code]

on issuing `exec IR.txt`, the device add the commands, but dies at the next wifi poll.
I did not use the IR commands.... just added them through exec of an FS file.

Additional: tried commands on their own, not using a file.  One time out of 4 adding a command killed the device.

log:
[code]

[2022-10-21 09:40] bonuzzz commented on #306
@openshwprojects I bought it in aliexpress. Search "tuya g9 bulb". I don't want to recommend current shop, because it didn't want to return money for non working bulb (only cold light leds were working).
What about cloudcutter, I don't have working profile.

I attach in zip some photos without compression. I'm not sure it's possible to solder wires without unsoldering, but I'm not sure as well is

[2022-10-21 10:08] daniel-hofer opened #315 "Power Calibration not saved"
First - Thank you for the great Project!

After Flashing Tasmota to my Aubess Plug (new Chip) https://templates.blakadder.com/aubess_16A_plug.html
i tried to calibrate the power and voltage with VoltageSet 150.
But every power cycle or reboot sets it back to original config.
Values like the wifi or mqtt settings are saved.
SaveConfig 1 is not a known command.
Can you help me yout?
Thanks a lot,
re

[2022-10-21 11:22] ferbulous commented on #306
@bonuzzz you might need share to the shops link because different shop might sell different chip for the g9

none of the profile worked with cloudcutter?

[2022-10-21 11:41] bonuzzz commented on #306
I bought them here: https://aliexpress.ru/store/911420118?spm=a2g2w.orderdetails.0.0.41eb4aa6ScEUcl
I know about awful rating. don't tell anything:) Unfortunately I didn't find them in normal shops.
I doubt about different revisions, because there are new bulbs in g9 form factor.
I think I could unsolder the chip myself, but I'm not sure will it work without other resistors

[2022-10-21 11:44] euro2 commented on #253
i think i have the same issue. Moving it close to channel 11 AP en distant from a channel 1 AP it starts lagging. So i think its wants to connect to 11 but cant, switching back to 1 over and over

[2022-10-21 11:53] openshwprojects commented on #315
Hello @daniel-hofer . The current assumption is that user puts the commands for setting IRef in the short startup command manually, as said here:
https://www.elektroda.com/rtvforum/topic3887748.html
but since you're asking, it might really be a good idea to just save them...

Wait few hours, I will try to get some free time and do a simple autosave of calibrated values, so users don't have to do i

[2022-10-21 12:35] daniel-hofer commented on #315
Thank you for the fast answer and information to fix the problem.
I'll try the startup command and look forward to your changes.

Great work!

[2022-10-21 12:44] openshwprojects commented on #312
Replied:
https://www.elektroda.com/rtvforum/viewtopic.php?p=20246171#20246171

[2022-10-21 12:45] #252 closed

[2022-10-21 13:06] openshwprojects commented on #311
Oh ok, just tell me if you need anything else, I will do my best to help @leoshusar

[2022-10-21 13:25] openshwprojects commented on #315
@daniel-hofer  I pushed autosave for BL0937, BL0942 and CSE.

**Can you check if it works - now really, please? It was not tested so it would be good if someone can confirm if it autosave correctly values.**

[2022-10-21 13:33] openshwprojects commented on #306
@bonuzzz  thank you for sending a zip file with photos, but if you want it to be featured on out teardowns list here:
https://openbekeniot.github.io/webapp/examples/devicesListDemo2.html
you need to post teardown here: https://www.elektroda.com/rtvforum/forum507.html
Post following things:
1. screenshot from where to buy
2. device name, model
3. packaging photos (if possible)
4. device photos from

[2022-10-21 13:52] bonuzzz commented on #306
@openshwprojects I don't have any ideas how to flash, because all the pins are hidden.

[2022-10-21 13:57] openshwprojects commented on #306
![image](https://user-images.githubusercontent.com/85486843/197213277-1d6bed35-a7b2-44b5-ba7f-3e5736590add.png)
the only possible option is to get a very thin wire, and a microscope and try to solder directly to QFN legs...

[2022-10-21 14:33] ferbulous commented on #306
Another tool i would recommend is this pcb.[workstation](https://www.thingiverse.com/thing:3615910)

Since it’s using needle , you could probe directly to the small pins and stick it with some blue tacs.

These pins are all exposed on each sides right like in this pic? Looks like gnd & vcc is on this side
@openshwprojects do you think the rx & tx pins are at the top

![D0742B84-600F-4F9F-986B-842E

[2022-10-21 15:22] bonuzzz commented on #306
I lost my attempt. I unsoldered chip. Soldered the wires, but some of them did tear off and broke few pads on chip

[2022-10-21 15:31] valeklubomir commented on #315
@openshwprojects From my side saving calibration seems to be working. Testing more.
Today I received 3x BK7213N(CB2S) devices 1x BK7231T (WB3S) 2x ESP8266 devices.         :-)

[2022-10-21 16:02] bonuzzz commented on #306
I had very hard wires for it... On 2nd attempt I recovered all pins except cen and at this time I lost power pin. I orderd pogo pins. Next time will print holder for chip and use pogo.
Thanks all for your attention:)

[2022-10-21 16:02] #306 closed

[2022-10-21 16:17] openshwprojects commented on #315
@valeklubomir it would be great if you look into the T LWIP stability. Also, if you have new devices, you can make a photos and create some teardowns for our database:
https://openbekeniot.github.io/webapp/examples/devicesListDemo2.html
I want to get to the 100 devices soon. It's 94 so far.
post them on https://www.elektroda.com/rtvforum/forum507.html and I will add them to online database.

In a

[2022-10-21 16:49] valeklubomir commented on #315
@openshwprojects so far each device which I tried, was already in library or similar device.
Once I have all devices completed, I will try to summarize it.
I already imported LWIP to my local fork of T device. At least building works, not yet tested.
New T Device (touch switch) is in my queue.
I am still trying to figure out issues with freezing. BL0937 seems to be more sensitive than BL0942.
Foun

[2022-10-21 16:55] openshwprojects commented on #315
@valeklubomir  what are those issues?

[2022-10-21 17:15] valeklubomir commented on #315
I think:
- logging large blocks or fast occuring events which could overflow serial/UDP logging buffers may cause memory leaks. My device froze mostly after JSON stat print when >1024 byte should be printed. Trying with disabled JSON as comparision.
- DRV HTTP plugin after some time displays rubbish when printing driver list, pointers to DRV names got corrupted. Printed random text string from mem

[2022-10-21 17:26] openshwprojects commented on #315
@valeklubomir  I've found one issue:
https://github.com/openshwprojects/OpenBK7231T_App/commit/7f0cf7ad7d713d57a39350a4371a9bc06bd7a216

[2022-10-21 17:30] openshwprojects commented on #315
_BL09XX HTTP plugin at least once broke front page. Probably htprint128 overrun. htprint128 can handle only 256 bytes per call, if somehow larger block is posted, it is now truncated. which can cause issues later for browser. I already created pull request with replacement of vsprintf with vsnprintf. Since heap should be omitted could not impement dynamic detection. And it is already merged. But o

[2022-10-21 17:33] openshwprojects commented on #315
_Button active level set to 1, because **_n input are inverted. And active level must be 1. This was generating a lot of logginng messages showing button long press hold._

Really? The _n should be "transparent" for all stuff except this function:
![image](https://user-images.githubusercontent.com/85486843/197255081-35849040-020d-4703-9c17-d167016ab8be.png)

The Button_n is a negated Button where

[2022-10-21 17:33] valeklubomir commented on #315
BL0937 uses interrupt calls for measurring CF/CF1 signals. Even when simple functions used.
Don't know how it behaves under BK7231 since do datasheet or manual is available, but I know that in mutlithreading applications interrupts should be extra carefully designed when dealing with threads. BK7231 should be ARM968e-s core.
This need some study also.

Splitting strings and using sprintf rather ht

[2022-10-21 17:35] valeklubomir commented on #315
Yes button_n is inversed, but after "transparency" active level remained 0 instead of 1.

![image](https://user-images.githubusercontent.com/71550793/197255651-f5f40085-29c7-4eee-9e51-f6abf56aff8d.png)

[2022-10-21 17:39] openshwprojects commented on #315
_sprintf rather htprint128 arguments._

sprintf also takes a buffer as an argument, so buffer overrun still can happen, so I don't see how it could help? I'd just split HTML construction into more htprint128 calls and that's all

@valeklubomir  I might be wrong, but I think that active level should be the same for both _n button and simple button, because we do inversion BEFORE comparing with acti

[2022-10-21 17:47] openshwprojects commented on #315
@valeklubomir I think we might be taking past each other. For me, the "button_n" is a button with a pull down resistor and a button between input pin and a VDD. For you, it seems that a button_n is a button with a pull up resistor (like a button) and a button between GND and input pin, but which is normally closed all the time and just opens when a users does a press...?

[2022-10-21 17:48] valeklubomir commented on #315
Usually negated input is designed having pull-up and switched to GND for active level.

[2022-10-21 17:53] valeklubomir commented on #315
In electronics inputs marked '_n' are ment with inactive level H and active level L.

[2022-10-21 17:56] valeklubomir commented on #315
It is similar when you do negation of bool: "!(bool)"

[2022-10-21 18:14] openshwprojects commented on #315
@valeklubomir  there is another change I want to do (or have to, because right now it might cause problems).
I am worried about having so many threads. Right now, we have:
- quick tick thread (5ms or so), this is used for  buttons and for drivers quick tick
- every second timer
- HTTP threads
I am thinking about merging quick tick with 'every second timer' so we don't need mutexes in drv_main.c so

[2022-10-21 18:52] valeklubomir commented on #315
Merging timers could be easy. Keep 5ms and replace 1s with calling from 5ms with ratio 1:200.
For example TuyaMCU run frame would benefit for calling with higher frequency. Example: 200 - 300 ms run.
Touch shields generate messages every 200/300 ms when you press and hold. And could react faster.

[2022-10-21 19:49] openshwprojects commented on #314
@btsimonh  can confirm. It happens for me if I use exec with such file as well:
![image](https://user-images.githubusercontent.com/85486843/197277474-295327bf-e384-43a0-baae-96d89c89f70d.png)
when I apply those commands by hand, I never get any crashes. I just got first time in my life crash on this device, thanks to the method with exec...

[2022-10-21 19:49] esnet146 commented on #312
Excellent!

SM2135_Current CWcurrent RGBcurrent ( SM2135_Current 0x07 0x02 )  - Very well!
max: SM2135_Current 0x0A 0x02 - Causes extreme heat...

[2022-10-21 22:29] mariusbach opened #316 "sum daily power meter values - big deal to implement?"
Hi,
just asking if it's a big deal to implement daily Wh consumption counters? You could save the last value of the day as "yesterday's consumption" and display/publish the current count of Wh as displayed.

My goal is to place power metering plugs at the TV-hub, my working desk, the networking rack and so on and see a trend of daily values.

Thanks for checking. I'd help with coding but I really

[2022-10-21 22:30] mariusbach commented on #102
+1 :)

[2022-10-21 23:20] ferbulous opened #317 "How to retain current status of device after HA restarts?"
Hi, I've enabled these settings in general

<img width="633" alt="image" src="https://user-images.githubusercontent.com/24526737/197304055-d3900b1b-36f9-478f-89d9-5bb3de5ad602.png">

But when I restart HA, it doesn't show the current status and I still have to toggle it first to (either from the device or from HA dashboard) to have it display the correct status

<img width="634" alt="image" src="h

[2022-10-22 00:20] valeklubomir commented on #316
Device like this do only report power output.

Recently we added Total Consumption calculation and Periodic calculations.
Periodic calculation could be configured to display consumption per last 24H.

I will investigate if statictics configured per last 24H is possible to use this way.
if device can be synced with NTP, so then at 23:59:59 could be stored as consumption
over last day.

So far firmw

[2022-10-22 00:30] valeklubomir commented on #102
Interval is fixed by the measurement logic to one sample per second. Sending of values is then triggered when minumum change of measured value is detected. Resulting interval is between 1s - 60s. Because there is how many samples can be skipped when changes are below threshold.

[2022-10-22 06:24] openshwprojects commented on #317
Hello @ferbulous , I will check this now. By the way, thanks for next teardown on Elektroda. We appreciate it.

Let's test that on my device:
![image](https://user-images.githubusercontent.com/85486843/197323693-e8bd0798-0b6c-4de6-ae67-0f0f53347852.png)

Hmm:
![image](https://user-images.githubusercontent.com/85486843/197323548-4d113f22-3e4c-49f7-92d7-e5bca6d24a53.png)
That's strange, I did a HA r

[2022-10-22 06:26] openshwprojects commented on #317
The TCP connection of MQTT should know that it was dropped during restart and for some reason it doesn't seem to know. Maybe decreasing the allowed time out could help.

[2022-10-22 06:34] openshwprojects opened #318 "Merging Quick Tick (aka buttons debounce scan, etc) with OnEverySecond vs BL0937 precision"
I've been thinking about merging the quick tick and oneverysecond into one timer, just to avoid any potential threading issues as both of those ticks can access the same functions in code.

For now I'd do it only for Beken, as I am not able to test all possible platforms.

Change seems trivial, but there is one thing I am worried about.

BL0937 currently strongly assumes that the delay between dri

[2022-10-22 07:42] mariusbach commented on #102
Thanks! Is there a way to adjust the threshold?

[2022-10-22 08:04] ferbulous commented on #317
@openshwprojects
Hi, here's a recording of the logs when HA is restarted

https://www.youtube.com/watch?v=n1yAYNctIDU

How should I adjust that in the settings?

[2022-10-22 08:30] valeklubomir commented on #318
The BL0937 presision should not be problem, we could fix it with, not pressuming interval is one second but take actual number of system ticks elapsed since last calculation and adjust result.

value = (raw value) * (elapsed ticks) / (ticks per second)

I used similar approach for consumption calculation.

[2022-10-22 08:38] valeklubomir commented on #102
Sample interval and Threshold are fixed in the firmware at moment.
We would need to understand the reason why to change threshold or interval?
What benefit is being targetted?

[2022-10-22 12:49] Pgeup opened #320 "Zmai-90 support with new Tuya module - CBU"
Good day. Does OpenBeken support the new Tuya - CBU module in Zmai-90?

If yes, please tell me what is the pinout? When flashing the CBU module with the OpenBK7231N_QIO_1.14.42 file, an open access point is created, but there is no data in the interface and on the LCD screen of the counter

[2022-10-22 13:04] valeklubomir commented on #320
[https://www.creationfactory.co/2019/12/reverse-engineering-zmai-90-din-rail.html](url)
This version runs on TYW3S module (ESP8266 based), but the pin assignmet could help
Regarding the emetering module (here V9821), this is not yet supported by the OpenBK.
If you post some pictures could help.

[2022-10-22 15:35] openshwprojects commented on #320
@Pgeup  I have that Zmai-90. I will look into that.

[2022-10-22 16:49] openshwprojects commented on #317
@ferbulous this is only available in code....

but there might be another approach - have you tried enabling 'retain' in flags?

[2022-10-22 17:16] Pgeup commented on #320
I am attaching a photo of the CBU module. [If](url) necessary, I can attach a dump of the original tuya firmware.

https://photos.app.goo.gl/YFpRp6hJsRhWY1KP9

[2022-10-22 17:20] ferbulous commented on #317
Thanks! That fixed it

[2022-10-22 17:20] #317 closed

[2022-10-22 17:47] openshwprojects commented on #317
@ferbulous  this, however, does not explain why HA restart does not send a TCP close to sockets.... but I'm happy that I helped.

[2022-10-22 19:06] ferbulous opened #321 "Device Group issues when enabled"
Tested with the following devices:
a. Tasmota E27 Led
b. Openbkt E27 Led (N device). I'm not sure if it's device related since I only have N now.

Enabled:
1) Toggle on/off works but not for brightness & color change (done directly on the openbk ui). On homeassistant dashboard, i could toggle from the tasmota device but if I did the same for openbk issue (3) occurs
2) Sometimes repeated group comm

[2022-10-22 19:40] mariusbach commented on #316
Thanks for looking into this. Indeed, a higher system could do all the calculations (actually the total is already implemented so I can use it to check at midnight what the delta is), but a daily value in the firmware would save every one from programming his own routine on a higher system, also it wouldn't depend on the availability of the higher system. tasmota does show the daily accumulation a

[2022-10-22 19:45] mariusbach commented on #102
May I ask what the current threshold is? The idea would be to filter noise or unwanted power notifications at device level.

For example monitoring a washing machine for being finished doesn't require many messages but just the big drop from full speed to done at the end. My machine then starts a keepalive cycle and turns every now and then. Setting a threshold higher than this cycling would not r

[2022-10-22 19:45] euro2 commented on #253
confirmed. Changed that AP to channel 4 and it started working. Chipset BK7231N

[2022-10-22 19:52] daniel-hofer commented on #315
Thank you very much for the fast fix! I can confirm, that the commnads VoltageSet, CurrentSet and PowerSet are saved now after reboot :-) My device is an Aubess Smart Plug Chipset BK7231N (CB2S - module). I'm so glad having this device now in my homeassistant dashboard! Tip is on the way!

[2022-10-22 20:18] daniel-hofer opened #322 "MQTT Aubess Smart Plug no"
The values for power, voltage, current have no Unit shown in my homeassistant mqtt dashboard. Is it possible to add the Unit in the mqtt-payload?
Here The example of my Aubess Plug - am I right, that the line "unit_of_measurement: V" would do the trick?
Maybe I have to ad this in my homeassistant configuration.yaml.
device:
  identifiers:
    - Aubess_Plug_Tasmota_01
  name: Aubess Plug Tasmota 01

[2022-10-22 20:55] #312 closed

[2022-10-22 23:56] leoshusar opened #323 "BL0937 socket WiFi(?) crash + strange UI bug"
Hi, I have experienced some outage with my BL0937 socket.
I set it up at Friday, everything was going great and then in Saturday I noticed missing data in Home Assistant.
I tried to look up what's happening but it wasn't connected to WiFi at all, it disconnected after almost 16 hours:
![image](https://user-images.githubusercontent.com/13891066/197366627-2ca20aa3-949f-43c9-adc1-2143b25273fe.png)

U

[2022-10-23 00:58] valeklubomir commented on #323
It seems to be Wifi issue. Currently working on it.
Also UI bug is worked on.

[2022-10-23 03:28] openshwprojects opened #324 "Stack sizes for HTTP (and some threads soon?) are now bigger"
Just a note for developers so we all know what was changed - @valeklubomir   @iprak  - with @btsimonh  we determined that HTTP thread stack size was not enough for execution of some script commands, like "addEventHandler", etc. I will also try to reduce the stack size, but for now, I am increasing it from 2048 to 8192
https://github.com/openshwprojects/OpenBK7231T_App/commit/ef019647cf3e36773f47c2

[2022-10-23 03:29] openshwprojects commented on #322
You can certainly display the values by hand, just like in this topic: https://www.elektroda.com/rtvforum/topic3887748.html
but the HA **discovery** should work automatically. Thoughts, @iprak  ?

[2022-10-23 04:15] openshwprojects commented on #298
@iprak  os_realloc works on T, but realloc doesn't

[2022-10-23 04:29] openshwprojects commented on #321
Today I have increased some stack sizes, can you recheck?

Regarding MQTT crash - @valeklubomir , ideas?

Regarding "blinking" - it might be because current DGR does not ack, but when I tested it, it was stable. Might improve it soon.

[2022-10-23 04:30] openshwprojects commented on #315
@daniel-hofer  thank you, I'm glad I helped. If you have a device that is not known to us here:
https://openbekeniot.github.io/webapp/examples/devicesListDemo2.html
you can also help us and submit a teardown here:
https://www.elektroda.com/rtvforum/forum507.html
we really want to get up to 100 device teartodnws soon!

[2022-10-23 05:01] openshwprojects commented on #298
https://github.com/openshwprojects/OpenBK7231T_App/commit/e77d66292c0cac21226f9591b9ceb8118e973b7e

solved? still, if you can, please check

[2022-10-23 05:01] #298 closed

[2022-10-23 05:44] openshwprojects commented on #323
@leoshusar we have tested some things with @btsimonh  and determined that thread stack size might be too small in some cases (I suspect it causes addEventHandler and addLog %f crashes), now it's increased, can you recheck if behaviour is still the same?
NOTE: I am not saying that it fixed it, it's just worth rechecking.

[2022-10-23 05:45] openshwprojects commented on #320
@Pgeup  thanks, but it would be great if you made some more detailed photos, inside and from the outside, maybe packaging photos or screenshots from shop and post them here:
https://www.elektroda.com/rtvforum/forum507.html
so we can add them to our online database:
https://openbekeniot.github.io/webapp/examples/devicesListDemo2.html

This is especially useful because I have different zmai - I have

[2022-10-23 06:02] openshwprojects opened #325 "We need to improve/update LWIP for processing large amount of IR data MQTT"
I am getting ERR_MEM when I hold my remote button (drv_ir.cpp) kinda quickly, device is  a single color LED strip, here is the log:

_Info:MAIN:Time 3447, free 97104, MQTT 1(286), bWifi 1, secondsWithNoPing -1, socks 2/38
Info:MAIN:Time 3448, free 97104, MQTT 1(286), bWifi 1, secondsWithNoPing -1, socks 2/38
Info:MAIN:Time 3449, free 97104, MQTT 1(286), bWifi 1, secondsWithNoPing -1, socks 2/38
In

[2022-10-23 08:09] openshwprojects commented on #314
I think we both nwo can agree it was solved by increasing the stack size of HTTP client.

[2022-10-23 08:09] #314 closed

[2022-10-23 08:09] #274 closed

[2022-10-23 08:10] #263 closed

[2022-10-23 08:11] openshwprojects commented on #234
@mkjustuk  that's great, can you give me some way to contact you, Discord or email?

[2022-10-23 08:21] ferbulous commented on #321
Hi,
Issue 2 is  still there
Issue 3 - I can send mqtt payload the first time, openbk does receive it and then it crashes

https://youtu.be/btTxuRLcuPw

Some of the logs during testing:
``
Info:DGR:DGR_Parse: [192.168.1.185] seq 13824, flags 2049
Info:MQTT:MQTT deduper sent 55, culled 260
Info:MAIN:Time 143, free 80496, MQTT 1(1), bWifi 1, secondsWithNoPing -1, socks 4/38
Info:DGR:DGR_Parse: [192.1

[2022-10-23 10:00] valeklubomir commented on #325
@openshwprojects LWIP update is in progress

[2022-10-23 14:54] iprak commented on #324
`configTIMER_TASK_STACK_DEPTH` increases from 3000 to 5000 and not 8192, right?

[2022-10-23 15:10] iprak commented on #322
My understanding from this wiki was that `device_class` should take care of adding the matching unit but apparently it does not.
![image](https://user-images.githubusercontent.com/6459774/197399924-44f3e8d7-b76c-4821-bc65-241d47a4ceb3.png)

I admit I only verified the icon which is more prominent. I will add units to those 3 sensors.

[2022-10-23 15:31] openshwprojects commented on #324
@iprak yea, what about it?

[2022-10-23 15:43] iprak commented on #324
Should be it 8192 ?

Should I make the same change in W600 or maybe later? The value is very low there (`sdk\OpenW600\src\os\rtos\include\FreeRTOS.h`):

[code]

[2022-10-23 15:46] iprak commented on #298
Confirmed: all 3 test commands pass on T.

[2022-10-23 16:48] valeklubomir commented on #324
Also LWIP stack has thread and configurable stack size. I can look at this also.

[2022-10-23 21:18] saper-2 commented on #295
Hi,

Noticed just that, publishing to topic: ```home/bkt/NousA1/1/set``` , value ```1``` with set client to ```home/bkt/NousA1``` - I can't control relay via MQTT . So Client can't be used to set topic.

[2022-10-24 08:35] btsimonh commented on #315
@valeklubomir - "I already created pull request with replacement of vsprintf with vsnprintf."

can you point me to this?
I'm currently working on random crashes - mainly increased by lots of bk_printf, which uses vsnprintf, and I suspect that's killing it.

[2022-10-24 10:15] mariusbach opened #328 "Total consumption lost when rebooting or updating"
Is there a way to preserve the total consumption value when rebooting or updating an energy metering plug/socket?

Again, implementing in firmware would save every user from programming his own routine for this.

[2022-10-24 10:40] openshwprojects commented on #328
@mariusbach I can add saving of total consumption if  you want. I can split it into "This session" and into "Ever".

@valeklubomir , what do you think? I could use the same place where LED state is saved or where channels are saved.

I am not at home now, but I can look into it when I come back. Great suggestion, @mariusbach  !

[2022-10-24 11:17] mkjustuk commented on #234
Sorry, sure I'm on discord here - Just#5392

[2022-10-24 11:45] openshwprojects commented on #234
@mkjustuk  ok, I usually dont use discord, but  I sent you an invite from my private account

[2022-10-24 13:01] mariusbach commented on #328
@openshwprojects That'd be awesome!

While you're at it, could you also report on a separate MQTT topic a daily value which resets at midnight? I had a similar question at #316. While thinking about it, because the total Wh are counted, why not create a second counter which resets at midnight...

[2022-10-24 14:27] iprak commented on #322
If you take the latest build and then invoke HomeAssistant Discovery, then you should start seeing units.

[2022-10-24 14:34] openshwprojects commented on #315
@btsimonh  https://github.com/openshwprojects/OpenBK7231T_App/commit/a3d8542173d154f4c6c600f8d909f6702b778f6d

[2022-10-24 14:54] iprak opened #329 "HomeAssistant Discovery / consumption_stats generates error"
The `consumption_stats` generates this error at HomeAssistant end

`
2022-10-24 09:35:07.592 ERROR (MainThread) [homeassistant.util.logging] Exception in async_discover when dispatching 'mqtt_discovery_new_sensor_mqtt': ({'device': {'identifiers': ['enbrighten1_8C000000'], 'name': 'enbrighten1', 'sw_version': '1.0.0', 'manufacturer': 'Beken Corporation', 'model': 'BK7231T', 'configuration_url': 'h

[2022-10-24 17:13] valeklubomir commented on #328
As I mentioned in #316 I have some doubts using flash for storing data. I don't if BK7231 or other platforms have dedicated dataflash, capable of 100,000 write cycles or more. But regular program flash endurance is usually guaranted  for max 10,000 write cycles.
First of all use serarate block, not shared with configuration. Second I would use save logic build on minimal time and minimal threshold

[2022-10-24 17:32] valeklubomir commented on #315
vsnprintf should be safer version of vsprintf because extra parameter is used to limit max length of string. I expect that it should avoid writing over length of string memory.

[2022-10-24 17:41] valeklubomir commented on #329
I expected that None is valid entry for generic sensor. We can leave it empty.
Question is if dev_cla is optional or mandatory.

[2022-10-24 18:13] mariusbach commented on #328
Indeed, same here with one of 3 plugs. The others seem to work fine for now. The one disconnecting has nothing special, no special characters anywhere or different power consumption or similar... also it's close to the access point, so it cannot be loss of wifi signal.

[2022-10-24 18:55] iprak commented on #329
device_class is optional (https://www.home-assistant.io/integrations/sensor.mqtt/). It automatically sets thing like icon in the card. I can see it also being used to present value differently

[2022-10-24 19:08] openshwprojects commented on #328
@valeklubomir  two things.
1. the 'flash vars' system, the one created by @btsimonh , was designed to optimize flash usage (it i used to save reboot count and channel states). It uses separate block, different than configuration, that doesn't change often. Futhermore, it uses sector by sector gradually instead of writing to a single place all the time (as far as I know, @btsimonh  designed it)
2.

[2022-10-24 19:36] openshwprojects commented on #328
@valeklubomir  take a look here:
https://github.com/openshwprojects/OpenBK7231T_App/commit/8b7ba205441dc3e8bb464c2a81cbebb7a96d0b4c
it's a sample, the slots were in theory dedicated for channels, but there are hardly any devices with 12 channels, I barely managed to find a 4 relays (4 channels) controller
My commit saves a short (2 bytes), but you can split 4 bytes into two shorts, as you certainl

[2022-10-24 20:20] openshwprojects commented on #315
@valeklubomir  if I understand correctly, @btsimonh  concern is not that is a buffer-size-safe version, he suspects that in general sprintf on RTOS platform we have is not thread safe...
https://www.freertos.org/FreeRTOS_Support_Forum_Archive/April_2018/freertos_How_to_make_printf_sprintf_strtod_thread_safe_44d2ceb8j.html

[2022-10-24 20:48] valeklubomir commented on #328
Then I would need to save following parameters:

float TotalConsuption;
float DayConsumption;
float YersterdayConsumption[1];
int actualDay;
long SaveCounter;

If neccassary few more float variables.
Consumption of last hour will be lost.
Threshold for consumption save ~1Wh
Midnight save.

[2022-10-24 21:30] openshwprojects commented on #328
@valeklubomir this is the current structure layout:
![image](https://user-images.githubusercontent.com/85486843/197631946-b5c47dd2-6162-4960-b71c-7779001016fa.png)
The larger the structure, the faster is flash wear.
I usually would just try to use "MAX_RETAIN_CHANNELS" array, but keep at least first 4 channels for real channels (there are some 4 channel devices with power metering, like a power st

[2022-10-25 10:57] #329 closed

[2022-10-25 11:54] iprak opened #333 "HomeAssistant Power/Energy Entities become unavailable"
I am noticing that sensor entities and switches routinely become unavailable. I have a suspicion that this might be because we don't publish availability status. We only do that in `mqtt_connection_cb` once and HomeAssistant integration would be after MQTT has been setup, so HomeAssistant never sees that message.

![image](https://user-images.githubusercontent.com/6459774/197765781-1ba8f789-ae5c-4

[2022-10-25 14:59] valeklubomir commented on #328
@openshwprojects changing size from 32 to 64 shold be pretty simple. As I understand the logic it should adapt automatically, because vars are stored in sequence and when reaching end of storage area, whole area is erased and starts from beginning.
Only 2 from 5 platforms have real storage present others return 0.
Will you do it or should I try?

[2022-10-25 17:31] valeklubomir commented on #328
I am doing it.

[2022-10-25 18:26] efaden commented on #320
I have a Moe's 4 way smart switch with the same module.
![PXL_20221025_182617392](https://user-images.githubusercontent.com/12599300/197852538-a2a6c8c4-15ae-42db-b574-642a557a88dd.jpg)
![PXL_20221025_182550484](https://user-images.githubusercontent.com/12599300/197852568-1d17d387-f2a1-4935-9a04-7b6067d636b3.jpg)

[2022-10-25 19:18] valeklubomir opened #335 "Slow OTA"
After last commit with OTAThreaFix, OTA is very slow, takes 1-2 minutes to complete.
Previous version took less than 20 second to complete.
Creating OTA progress status on front page. Any other ideas?

[2022-10-25 20:18] mariusbach commented on #328
@valeklubomir @openshwprojects I'm so very happy you're looking into this, really. Thanks a lot!

[2022-10-25 20:22] mariusbach opened #336 "BK7321T Plug sometimes reports irrational high values (around 10kW)"
Guys, sorry for opening another one, but: I use a few energy monitoring plugs/sockets which 2-3 times per day report a power draw of 10.8kW or 8.2kW or similar. These occur not in sync with wifi connection losses.

As such a power cannot even be drawn from a household plug, something is going on. I'll drop any such high numbers in my upward data collection system (node-red and influxdb) but wanted

[2022-10-25 20:23] mariusbach commented on #203
I have the same issue with BK731T and BL902. Freezes, needs hard reboot. No ping or anything possible. Running on 1.14.52.

[2022-10-25 20:33] mariusbach commented on #336
The error always occurs during minimal load of <5W.

For a [similar tasmota-based plug](https://www.aliexpress.com/item/4001230982267.html) there is the following advice:

[code]

Although we might not use this chip, it may be a similar problem. I'm not sure though, how their firmware would know that it's an invalid reading. Perhaps it's just above 10/16A and then considered as invalid.

[2022-10-25 21:13] valeklubomir commented on #336
Working with BL0937 and BL0942 devices, so far this situation did not occured yet.
But most of these device are used for max output 3680W. So some kind of limiter could be implemented.
So far values <5W work normally. I am testing it with mobile charger and charging modile phone.
Just curious to see how much electricity cost for using modile phone. :-)

[2022-10-25 21:18] mariusbach commented on #336
Got you a pic. The high spikes above 200W are the ones going to around 10kW. It seldom but it messes up the daily average value. I now filter those out from getting into the database in the first place.
<img width="552" alt="spikes" src="https://user-images.githubusercontent.com/58884413/197883761-4ab07b2a-ace7-456c-a55a-18e28443a078.png">

[2022-10-25 21:36] efaden opened #337 "Template for Moe's 4 Gang DIY Smart Switch and/or Moe's 2 Gang LED Dimmer"
Anyone have templates or config for these devices?

[2022-10-25 23:18] bugalaws commented on #204
I’m using tha last release 14.56 and the problem persists
![873E6744-28ED-4DB5-8679-2D5709C3CEF2](https://user-images.githubusercontent.com/31680094/197899723-c215703a-cf2a-4af5-a734-e8999e2f17c7.png)

[2022-10-25 23:59] leoshusar commented on #336
@valeklubomir OT: the BL0937 doesn't have enough detail for measuring very low values (don't know about 0942), for me it jumps by 1.2 W
![image](https://user-images.githubusercontent.com/13891066/197902416-34686a53-e42b-441e-8fa5-8527685bcc06.png)

So it might be ok for measuring mobile charger, but once it goes to low power mode (for example charging finished), you won't get those milliwatts flow

[2022-10-26 04:51] openshwprojects commented on #335
@btsimonh  added a rtos delay in OTA because he has realized that in rare cases, a long RTOS function without any sleeps can cause memory issues (or something like that)

I'd suggest to change that delay to a shorter one, but still keep it.

[2022-10-26 07:21] thinhvuq opened #339 "Need latest release binary firmware for W600"
Hi, in the old release before xxx.1.14.53 I can download W600 binary firmware, but with the new release I got the error "file not found" when start click to download. Thanks.

[2022-10-26 07:38] valeklubomir commented on #336
I am fully aware or this. For power minimum step is ~1.5W. Any consumption below this is not measurable. But most charger especially USB C are designed to draw minumu 10W and up to 40W. My data curve looks similary to yours, when it is finished it drops to 0W-1.5W

[2022-10-26 07:44] valeklubomir commented on #335
I know. I have added progress information to main page to see if download was started, instead messing with sleep function.
Without any notification, it was little confusing, that nothing is hapening.

[2022-10-26 07:45] fjuliofontes opened #340 "BL0937 Report period"
Hi guys,

This is not an issue but I was trying to understand the logic behind the power consumption IC. I already took a look at the BL0937 demo code but I did not understand the triggers.

From the data that I'm receiving I see a pattern of 6 seconds. Is this right? Will the BL0937 reader report the measurement every 6 seconds or there is another logic behind it? Like seeing if the value is diff

[2022-10-26 08:09] valeklubomir commented on #340
BL0937 is producing only pulses from CF/CF1 pins. Pulses are counted with monitoring period 1 second and calculated to respective values for Voltage, Ampere or Watts. Publishing to Cloud occurs with some limits. There is thresholds for changes, so same/similar values are not published repetitively. And at least once per 60 samples (60 seconds) is forced sending.

[2022-10-26 08:17] fjuliofontes commented on #340
Hi @valeklubomir,
Thank you for the explanation.

So in this example:
 * Machine idle (0A consumption)
 * Machine started (5A consumption)
 * Machine stopped (0A consumption)

Can I assume that the event sent from the idle to start mode and the event sent from the running to stop mode will be within 1 sample (1 second)? Will it have 1 second precision for the "running period" calculation?

[2022-10-26 08:37] valeklubomir commented on #340
Theoretically yes. But I would count for 1sec per start and stop.
You also may not see immediately rise from 0A -> 5A or fall. 5A -> 0A.
If start is not aligned to measurement you will see rising/falling value.

[2022-10-26 12:33] openshwprojects commented on #335
I think we could reduce that delay 10 times or so. Just need to check.

[2022-10-26 14:23] openshwprojects commented on #336
I would be suprised if BL0937 or any smart device could measure 0.5W or lower values. I have been testing dedicated "power meters" from china and they all struggle under 1W or 0.5W or so.

[2022-10-26 17:14] openshwprojects commented on #328
@valeklubomir good, do it, just make sure that the struct you add is of size 32 bytes so we get a nice line up of whole current structure to 64 bytes. Make sure with sizeof( ) . Maybe make that struct public and easily accessible.

[2022-10-26 18:12] leoshusar opened #341 "Button long press interval"
Hi! Is it somehow possible to set seconds before action trigger on button long press? I looked at the OnHold event handlers code but I didn't see a way to set seconds, so maybe take this as a feature request.

Why - I would like to modify my Tuya dimmer switch which only has short press on / off actions. I noticed that when I hold the switch for X seconds, TuyaMCU resets it's internal timer and ig

[2022-10-26 18:27] openshwprojects commented on #341
So you want to modify BTN_HOLD_REPEAT_TICKS from https://github.com/openshwprojects/OpenBK7231T_App/blob/main/src/new_pins.c ? Edit the time between hold events?
Or do you want to add a delay between button down and FIRST hold event? Edit BTN_LONG_TICKS ?

[2022-10-26 18:32] leoshusar commented on #341
I think BTN_LONG_TICKS will be it.
When I press and hold button, I want to get single event after specified time, e.g. 3 seconds. This will change my lights from white mode to RGB mode (or the other way) and TuyaMCU will ignore it.

[2022-10-26 18:44] openshwprojects commented on #341
Ok wait 30 minutes

[2022-10-26 18:56] openshwprojects commented on #341
Here it is, can you check if it works?
https://github.com/openshwprojects/OpenBK7231T_App/commit/55e61118c243abe2f53fdfec2a9a8184418a8b96
It saves automatically in flash. The defaults are set also if given time is 0 (to avoid issues with older configs)

[2022-10-26 22:15] leoshusar commented on #341
It works great, thank you!

[2022-10-26 22:15] #341 closed

[2022-10-26 23:39] iprak commented on #339
@thinhvuq What pin configuration had you defined?

[2022-10-27 03:52] thinhvuq commented on #339
This is how I config it.
https://www.elektroda.com/rtvforum/viewtopic.php?p=20254858#20254858

[2022-10-27 06:34] silbor commented on #328
Should we store "startdate" or "bootdate" as well?
If not, you do not know what total energy consumption refers to.

[2022-10-27 07:30] btsimonh opened #343 "OTA can fail if other flash operation happens during OTA"
When using webapp OTA, the flash write is not thread protected, so if, for example, we complete boot and write the fact to flash during OTA, the OTA can fail.

It does not cause damage to the device, but it may boot back to original firmware rather than new firmware.

Fixing should consist of mutex protecting flash operations, and making sure they are short and atomic - i.e. getting the main threa

[2022-10-27 07:39] openshwprojects commented on #343
Maybe you don't even need a mutex. Just make a flag that is being set while doing OTA (a global variable) and for example, make CFG_SavePendingChanges check for pending changes every second and save them just really when the OTA flag is not set.

FlashVars could do the same. Something like if(bPendingChanges && BOtaNow == false) { SaveFlashVars(); } would solve.

But I must admit, that's a nice fo

[2022-10-27 09:08] mariusbach commented on #328
Good idea, for my use case I wouldn't need it, though. But while you're at it, I'd say yes, if the struct is big enough to store that as well.

[2022-10-27 11:20] valeklubomir commented on #328
Place is there. I could add field with date/time when statistics was last time cleared.

[2022-10-27 11:22] valeklubomir commented on #343
I have added function ota_progress, which return state of OTA or -1 for inactive OTA.

[2022-10-27 11:35] btsimonh commented on #343
personally, I think we should mutex all our flash operations, and make sure they are setup, done and completed within the mutex.  But each one should only act on one sector...
Note: LFS + OTA is probably a VERY bad idea (same flash area), so LFs should be disabled at the start of OTA.  Since we'll reboot shortly after, should not be an issue to permenantly disable.

[2022-10-27 13:18] valeklubomir commented on #343
I think flashVars write are secured with GLOBAL_INT_DISABLE/ENABLE we should just copy it to FlashConfig.

[2022-10-27 19:39] kalayda opened #345 "Wiring to flash"
Please suggest how to flash this board?

![photo_2022-10-27_21-26-22 (3)](https://user-images.githubusercontent.com/2320537/198382885-4fb99328-4a44-4b2e-a8b7-47321c9de537.jpg)
![photo_2022-10-27_21-26-22 (2)](https://user-images.githubusercontent.com/2320537/198382892-57f2cf87-47f8-41c4-bb49-30018be48a0b.jpg)

[2022-10-27 20:12] Darozas commented on #333
Same Here

![image](https://user-images.githubusercontent.com/19796221/198388510-4866e332-cf93-417e-a4a3-662eb0818273.png)
But it still working and Home assistant no longer can see it for some reason

![image](https://user-images.githubusercontent.com/19796221/198388628-ee1b424c-8e51-48be-b7f6-fefa3e0069c6.png)

![image](https://user-images.githubusercontent.com/19796221/198388677-9dd6a401-1c0a-43

[2022-10-28 11:44] ReanuKeeves01 opened #346 "LSC 3000273 - Correct pinouts?"
i succesfully managed to flash the bulb using some combinations of the 3000272 profile in Cloudcutter, eventually all worked and OpenBK is running properly.

However i cannot get the light to work at all, the pinout settings are as suggested (P24 = PWM = 4, and P26=PWM=5) but nothing works.

Does anyone has any idea how to go about this?

To clarify, its the LSC 3000273-970717

Many thanks in adva

[2022-10-28 12:04] iprak opened #348 "Logging is repeatedly indicating Button_OnLongPressHold"
Version 1.14.71
Device: BK7231T

I am seeing Button_OnLongPressHold repeatedly getting logged which is both incorrect and annoying, it pushes everything else out of view very quickly. Can separate logging option be created for this and this logging probably should be off by default.

[code]

[2022-10-28 13:08] ReanuKeeves01 commented on #346
For anyone checking here..

Afterr some trial and error, i figured out hwo to get this working.

Pin 7 = PWM = 2
Pin 8 = PWM = 1

These worked for me!

[2022-10-28 13:19] openshwprojects commented on #348
Do you have a pin role with Button? Do you press that one? Or maybe you have Button_n?

[2022-10-28 13:40] openshwprojects commented on #348
huh it seems that change broke the buttons
https://github.com/openshwprojects/OpenBK7231T_App/commit/6ecba9344d2e4a7404d8dc90f51742c2c04e6290

[2022-10-28 13:47] iprak commented on #348
Yes I do have a button but this recently started happening. The message is just not useful and fills up the view pretty quickly. I did filter out GEN but that makes debugging actual button click difficult. Thanks for looking into it.

[2022-10-28 13:52] iprak opened #349 "Home Assistant Configuration is outdated"
The configuration in the native webApp is only correct for button. The configuration generated via discovery currently covers PWM, RGB, button and sensors. Should we remove the native configuration in favor of discovery based generation?

[2022-10-28 15:01] TurkeyMan opened #350 "Please improve SPI flash instructions/script"
After an awful lot of stuffing around with failing UART flashing (fails at 2 bars trying to erase), I managed to accidentally break the TX/RX pads off the module.
I'd like to flash with SPI, but the instructions are really thin.
Please improve the SPI instructions; please make the steps a bit more concrete so if I follow the instructions, it will work.
Please note which image file should be used w

[2022-10-28 15:21] valeklubomir commented on #348
@openshwprojects  @iprak  Yes I have it tested. We had this discussion already. Your definitions of negated pin roles is not matching logic normaly used in electronics. Negated signal is low active. So when pin is grounded when button pressed this means negative logic. Inactive state in input is 1 and active state on button is 0.
Question is, Why do you have different logic for buttons and for rel

[2022-10-28 15:23] valeklubomir commented on #348
This is the simplest explanation I found:
[https://www.sealevel.com/support/what-is-the-difference-between-positive-and-negative-logic-in-digital-io-circuits/#:~:text=%E2%80%9CWhen%20a%20circuit%20requires%20logic,referred%20to%20as%20negative%20logic.](url)

[2022-10-28 15:27] valeklubomir commented on #348
“When a circuit requires logic 1 to operate, engineers may refer to this condition as positive logic. Thus, the more positive voltage causes the action to take place. On the other hand, if a circuit requires a logic 0 to cause action, this type circuit is referred to as negative logic.

[2022-10-28 15:35] openshwprojects commented on #348
@valeklubomir  the shortest explanation would be that "Button" is a simple "Button" as in "a Button on Tuya device" and a relay is a simple relay, as in "a Relay on Tuya device". The code and naming was created in such a way that every user can just set "Button" and "Relay" role and get everything working.

Unfortunatelly that's the standard we're following now, so we can't just make a breaking ch

[2022-10-28 15:46] openshwprojects commented on #350
Do you have a device with SPI pins broken out?

[2022-10-28 15:47] valeklubomir commented on #348
**Write this explamation to read me.**
Because me as electrical engineer, I examined the device and found button grounding PIN when pressed and as always I presumed negative signal logic so I choose Button_n and relay was switched when 1 was applied to PIN and choose REL. When device was not working correctly then I tried to figure it out and found this bug in the logic.
**Never Ever** would think

[2022-10-28 15:48] #346 closed

[2022-10-28 15:55] btsimonh commented on #348
@valeklubomir -
yes I agree with your logic, but all the users choose 'button' first, as the default that will work.
It's the same in Tasmota - a button is active low.
Pain in the arse, but it is what it is, and only confuses us true hardware guys :).

[2022-10-28 15:56] openshwprojects commented on #348
I will do my best to make it clear on readme and maybe within app, @valeklubomir . As said above, I can now fully see why your interpretation is correct, but it has never occurred to me before and neither to our users, as far as I am aware about it. Futhermore, the "_n" suffix was never meant to be interpreted as in "negative logic signaling" but just as "negated", not the negative potential but "

[2022-10-28 16:09] TurkeyMan commented on #350
Yes it's WB3S, I can break out the SPI pins easily, I haven't damaged those pads ;)

On an unrelated note, I noted a strange behaviour I haven't seen mentioned anywhere; when I short CEN to GND which I'm told to reset the chip before UART flashing, I had a very odd issue where the pi4 would immediately reboot. 3.3, GND, TX, RX were connected to the pi4, but when I bridge CEN to GND, it immediately

[2022-10-28 16:59] valeklubomir commented on #348
After so long profesional experience I can no longer think as non-tech user.
It is like obsession when I see something like that, the urge to fix it is unresistable. :-)

@openswprojects I have left pull request for OpenBK7231N. Can I ask you to merge it?

I made MQTT output buffer larger, because some cases device lost connection due to insufficient capacity.
Probably because of JSON generated fr

[2022-10-28 17:04] btsimonh commented on #348
@valeklubomir - I completely understand :).  I have my obsessions, and lucky for @openshwprojects one of them is this....

but it's OK to eventually accept that you are right, but it's not right for joe average, gloss over it and feel the glory for fixing MQTT (thankyou!!!).

we're just so happy that you are here and contributing.

[2022-10-28 17:06] btsimonh commented on #348
(my small glory this week was reduction of thread load of serial logging...  nobody will even notice...  but I did implement IR, and that I can be proud of until everyone starts shouting about it being unreliable!).

[2022-10-28 17:13] iprak commented on #348
This question had been lingering in my head for a while. Are the SDK for the chips targetted here not mature enough? My previous experience has been with Espressif chips which are slower but almost same memory. My custom ESP8266 based Garage door opener has been running for years now and I have had no threading/memory problems.

[2022-10-28 17:39] valeklubomir commented on #348
ESPRESSIF chips are well documented, and support is very large, arduino, esp-idf,...
Here we are sometimes quessing. No real documentation and I have not found other type SDK.
This takes time. But since a lot of low cost product are available from china's martkets.
Makes it worth while spending time and effort.

[2022-10-28 17:41] openshwprojects commented on #350
No. My Banana Pi has never rebooted during BK7231 flashing.

I flashed BK7231T with SPI mode almost few days ago, but I wrote the tool myself:
https://github.com/openshwprojects/BK7231_SPI_Flasher

Can you try that one?

[2022-10-28 18:18] openshwprojects commented on #348
@btsimonh  IR is great, but the @valeklubomir LWIP fixes are really shining now, because IR can generate lots of MQTT requests.

Ok, I think the button issue is resolved, I just need to update documentation and readme (or if someone can do it faster, please do)

@valeklubomir  merged N, but don't you need the same T?

We had a really great progress this week, let's keep it that way. I have also ad

[2022-10-28 18:18] #348 closed

[2022-10-28 18:27] openshwprojects opened #351 "To devs - power saving mode, ideas?"
Based on comment from here:
https://www.elektroda.com/rtvforum/viewtopic.php?p=20257406#20257406
It seems we need some kind of power saving mode, but right now I have no ideas how to handle it. The best way would be to put the MCU totally to sleep and just wake it up by interrupt from given pin, then report the change over MQTT to HA, and then put it to sleep again.

Thoughts?

[2022-10-28 18:31] iprak opened #352 "MQTT / States are not published when power monitoring is enabled"
I have noticed that when power measurements are enabled, values are published every second. The publish happens in `MQTT_PublishTopicToClient ` which resets `g_timeSinceLastMQTTPublish = 0`.

The full state publish and commands like publishChannels go through `MQTT_RunEverySecondUpdate` where `if (g_timeSinceLastMQTTPublish > 2)` check is performed and so no state publish happens.

[2022-10-28 18:34] iprak commented on #350
I too have a candidate chip which could use this.

I had tried SPI using `https://github.com/btsimonh/hid_download_py/blob/master/rpi3install.md` but the chip has always been unresponsive. Are the connections same as `https://github.com/btsimonh/hid_download_py/blob/master/SPIFlash.md` ?

[2022-10-28 18:50] openshwprojects commented on #350
@iprak  connections are the same, except the pin for CEN, which can be any digital IO and you have to adjust it in the Python code.

My code work for 100% with T, I tested it few days ago. I was not able to get the original hid_download_py SPI version running.

[2022-10-28 19:38] valeklubomir commented on #348
I had not yet time to test T version. Device is not yet prepared for this project

[2022-10-28 19:50] valeklubomir commented on #352
Publishing of power data is sent when there is change of voltage, current, power, energycounter beyond threshold level.
If there are changing conditionsm then it can be.
After all these changes I would simple bypass <(g_timeSinceLastMQTTPublish > 2)> and let it transmitt within the power data.

[2022-10-28 20:00] iprak commented on #335
Sometimes, restarting messaging doesn't appear although the device does restart. Could that be due to this change too?

[2022-10-28 20:02] iprak commented on #352
I don't think it is right to publish other values as part of power data publish.

@openshwprojects mentioned that IR can generate lots of MQTT request so it could also cause same issue.
Same problem happens if the command `publishAll` was called; this was added to resolve https://github.com/openshwprojects/OpenBK7231T_App/issues/262.

In my test case, I have Flag2 enabled which is supposed to send

[2022-10-28 20:04] valeklubomir commented on #352
Availability status for topic clientID/connected designed only to send it when connection is established and as last will message.

[2022-10-28 20:10] valeklubomir commented on #352
I think we could do it. Now message publish puts messages into ringbuf and sending is executed by LWIP stack when socket is ready to accept data. Adding another message will work.

[2022-10-28 20:14] iprak commented on #352
Yes .. well that was my working theory that last status message was not sufficient.  I  need to look more into this. But I think something needs to be done to make publishing messages reliable.

So if I understand you are suggesting taking out that `g_timeSinceLastMQTTPublish >2` check completely. I don't know why we have 2 second wait between publishes. Maybe @openshwprojects can shed some light

[2022-10-28 20:26] valeklubomir commented on #352
I could add another state message sending counter of transmitted messages and create listener for counting messages on server side and monitor how often and how many message are lost.

[2022-10-28 21:34] mariusbach commented on #328
Guys, thanks so much, I have upgraded to include the new functions. Total consumption is saved, perfect.

However, I'm not sure how to use the daily statistics reporting. Will the MQTT message be sent only at midnight? Can I set a timezone or offset, and where?

Also since I have the plugs, it tells me that periodic statistics are disabled and I guess I have to enable them. Adding the line to the

[2022-10-29 00:03] zopieux opened #353 "[Suggestion] Wi-Fi reset to "open" after very long button press, as recovery method"
Hi there,

Thanks for maintaining OpenBK, I've painfully serial-flashed all 10 of my cheap Tuya switches but it was well worth it. :)

I have a suggestion: it's a bit too easy to enter the wrong Wi-Fi credentials and make the device unusable, necessitating a reflash. This can be super annoying depending on the flash method. Since we already have code for handling long presses, I'd suggest implemen

[2022-10-29 01:11] openshwprojects commented on #352
@iprak  this is obviously a bug that needs to be fixed

@iprak  @valeklubomir  the whole story behind that strange MQTT approach, behind that "publish whole device state counter" is that I was never been able to do more than about 3 MQTT publishes per second without problems.

I tried to increase buffers in the past:
https://github.com/openshwprojects/OpenBK7231N/commit/be9ad5fd73d3fd903b54e911bf6

[2022-10-29 02:14] iprak commented on #353
I would leave out the LED part, most of the cheaper switches have LED tied to relay.

How about this?
![image](https://user-images.githubusercontent.com/6459774/198770538-a4e25154-79cd-4be3-9dd3-719881391734.png)

[2022-10-29 02:23] iprak opened #354 "W600 Device Hangs on Startup"
Something has recently changed in past few days with logging which completely hangs the device. This has happened to 2 of my devices after upgrading to 1.14.77.

I desoldered one back and then I managed to get this from serial log, just this much.

[code]

[2022-10-29 02:28] iprak commented on #354
I can confirm that this happened after the merge https://github.com/openshwprojects/OpenBK7231T_App/pull/344 @btsimonh  ?

[2022-10-29 02:28] valeklubomir commented on #353
SAFE mode requires to restart device 5 times and do not let it run more then 30 second each, then device goes automatically to AP mode and allow change of configuration. Used it few times.

But for example I have TuyaMCU based touch button shield, which would require disassembling when trying invoking SAFE mode, by rebooting it quickly. Which is hard when mounted on the wall.

So this functionalit

[2022-10-29 02:32] TurkeyMan commented on #350
Does the pi have shell commands to set the state of GPIO's, and/or send/recv packets via SPI? Can I `cat TEXT > /dev/spi0.0` or something like that? I can't find anyway to interact with these devices from linux, it always seems to be python.

I tried your `BK7231_SPI_Flasher` script, but it errored immediately on this line `CENGPIO = GPIO.PB+21` complaining that `GPIO.PB` was not among `GPIO`...

[2022-10-29 02:32] valeklubomir commented on #353
Some Touch Shields are also capable to pair RF433MHz remote controls. Which also support two more commands:
Pair with remote, clear remote pairing. Again different button combined actions.

[2022-10-29 02:43] valeklubomir commented on #328
For daily statistics I had to execute multiple commands:
- Enable driver
- Enable Energy statistics
- Enable NTP for time synchrozation
- Setup time zone offset.

"backlog startDriver BL0942; startDriver NTP; ntp_timeZoneOfs 2"

New additional MQTT topic will be activated:
- */energycounter_yesterday/get
- */energycounter_today/get

If you want lasthour topic "*/energycounter_last_hour/get" add: "

[2022-10-29 02:48] iprak commented on #350
Yup I get the same on RaspberryPi3b

[2022-10-29 02:51] TurkeyMan opened #355 "How to use the CloudCutter images?"
I see among the release binaries are some images that are apparently for use with the Tuya CloudCutter exploit, but after a bit of googling, I can't find any confident instructions how to make use of it. Possible to include (or link to) clear instructions to have a go at this method?
I have 2 devices which are welded shut, and I would need to destroy the casing to access the chip to break-out, so

[2022-10-29 03:05] TurkeyMan opened #356 "Improve install documentation"
Your software in general seems to be becoming mature, but some additional work would go a long way surrounding your ecosystem to make clear and concise reference material used by people to easily install your software with as many methods as possible, and most practical for the particular device.
The original forum threads where the ecosystem grew from and a lot of people have discussed various in

[2022-10-29 03:25] TurkeyMan opened #357 "Imprive UART install script"
Disclaimer: I'm obviously not competent, but better instructions may help myself and others succeed.

I've tried the UART method on my device via windows with 2 different USB->TTL adapters, and also with my pi4. My failure was complete when I accidentally broke the solder pads off from the TX/RX pins from stuffing around for so long.

On windows, I tried using BKwriter and it got past the init wai

[2022-10-29 03:32] TurkeyMan opened #358 "Improve the SPI install script"
Right now it appears to be just a hacky script you used for your own device one time. It includes commented out lines, hardcoded image names, include a mysterious `REST.bin` image.

Having broken the TX/RX pads off my 7231T and no way I can connect the wires, I figured I'd give SPI a go using my pi4.
I wired up the SPI breakout and connected it to the PI. I activated SPI on the pi (as far as I can

[2022-10-29 03:36] TurkeyMan opened #359 "Auto-download latest images in install scripts"
For each of the install scripts (UART/SPI), I've suggested a pre-check at the start of the script to confirm communication is working correctly.
Assuming this check is possible and the chips respond with something sensible when running the default tuya/smartlife firmware that can be detected, is it possible to detect the model of chip that we're talking to?
If so, can the script fetch the latest a

[2022-10-29 03:41] TurkeyMan commented on #350
Got the same what?

[2022-10-29 03:50] TurkeyMan commented on #350
Your code shows GPIO.PB + 21, what does this mean? Is it pin 1 + 21 (== GPIO22??) or are you using GPIO21? I wired to GPIO22 following some other instructions I saw elsewhere, and I wasn't clear if your script was correct or if I should change 21 to 22...?

If it worked with T, where did you get this QIO image? What is it? That image doesn't exist...
It's confusing to have your script compete with

[2022-10-29 04:18] TurkeyMan opened #360 "Python 2 or 3?"
I'm not a fan of python, and I'm just trying to follow the python instructions; but every time I see python instructions it's unclear how to follow them. Some instructions say `python3 args`, and other instructions say `python args`.... In other places `pip install xyz` and other places `pip3 install xyz`...
Seems python3 is used here... but is that true for all scripts and all contributors?
Can w

[2022-10-29 06:32] openshwprojects commented on #350
@TurkeyMan  I have a guide that is halfway ready. I think the fastest way for you would be to wait for it, or....  or trying google, because enabling SPI coms on Pi is a generic PI knowledge, not an openBeken related one.

On other hand, the missing QIO file is a very good question! IT was never intended for users to flash by SPI, because we didn't even know if it's possible. We shall modify our r

[2022-10-29 06:46] TurkeyMan commented on #350
Yes, I followed instruction for enabling SPI on pi. That's not a problem, but I have no way to verify that it's working. Maybe SPI is working and the problem is something later like waiting for reset, or maybe SPI is not working and I have a wiring fault, or maybe I just didn't enable it correctly.
If there is any way to determine and distinguish each of these cases, it would be really good to add

[2022-10-29 06:49] TurkeyMan commented on #350
Update: just saw the releases QIO update. Thanks for that!
Can you please add a couple sentences explaining the UA/QIO images, what they actually are? Why are they different? You explained "CCtr" at the bottom, just add a line for each other one to explain what it's for.
I notice that N only has QIO image, but it still says "UART Flash" beside it... is that wrong?

[2022-10-29 06:56] TurkeyMan commented on #350
Do you think this might be an electrical problem? Is it possible that connecting CEN to a GND pin in the GPIO bank will create a high current short circuit and trip some circuit protection resetting the pi? I also noticed when using a USB TTL adapter on Windows, that when I connect CEN to the TTL GND pin, the USB device would immediately be disconnected from windows, and it would come back and win

[2022-10-29 09:33] botioni commented on #351
yup but how ?

[2022-10-29 09:36] botioni commented on #351
tuya did it like thet on the pcb i have an mcu thet  is handeling movment recognition and pulling gpio high for battery saving but in code we dont have somthing like this

[2022-10-29 09:45] botioni opened #362 "cant publish channel value"
alias battery_lv backlog publish sensor $CH5
publish sensor $CH5
cant publish channel value

[2022-10-29 09:51] openshwprojects commented on #362
Hello, what kind of error are you getting? I will try to check it right away, wait.
Ah, I think I suspect what you might be saying.
There is no argument expansion here... wait...

[2022-10-29 10:01] botioni commented on #362
no error but it publishes get=$CH5

[2022-10-29 10:04] openshwprojects commented on #362
@botioni  I know, wait 5 minutes

[2022-10-29 10:19] iprak commented on #360
What instructions are you referring to?

[2022-10-29 10:30] iprak commented on #357
I can confirm a few things.

* It is always TX (device) to RX (adapter) and RX (device) to TX (adapter).
* Do make sure that Gnd (adapter) is connected to the Gnd (device).

Connection confirmation:
* I always do a quick a continuity check with multi-meter. If there is some solder between pins, then it could draw too much power and ruin my power.
* A good way to confirm the connections would be to

[2022-10-29 10:48] TurkeyMan commented on #360
Nothing specific, just everything everywhere. This is more of a "please keep this in mind, and make corrections when encountering inconsistency" kind of thing.

I'll update this ticket with examples as I encounter them.

[2022-10-29 10:51] iprak commented on #360
For SPI, I did alias the commands - https://learn.sparkfun.com/tutorials/python-programming-tutorial-getting-started-with-the-raspberry-pi/configure-your-pi

[2022-10-29 10:56] TurkeyMan commented on #360
Hmm... arbitrarily aliasing the commands sounds bad... surely that's just likely to mess up anything else that might be running on your system?
Why not just be explicit in instructions here?

[2022-10-29 11:17] iprak commented on #360
Yes it could but I was using a throw away setup.

You are very welcome to adjust the documentation. My experimentation with SPI was a couple weeks ago and I could not get the working hardware end working but will give it a try again.

[2022-10-29 11:30] TurkeyMan commented on #360
Yeah, I wired it up and had a quick crack, but it didn't "just work", and I'm not sure how to diagnose where the problem is. I'd like to think it's possible for the script to integrate basic fault tests.